
// BASE "A" ELEMENT

a {
  color:$default-color--link-color;
  text-decoration:none;
  font-family: $font-family--arial;

  &:hover,
  &:focus {
    outline:none !important;
    color:$default-color--link-hover-color;
    text-decoration: none;

    &.alt {
      border-bottom: 1px solid $default-color--link-hover-color;
      text-decoration: none;
    }
  }
  sup {
    display:inline-block;
    line-height:1.1em;
    text-decoration:none;
  }
}
a.bold--a {
  font-family: $font-family--arial;
  font-weight:bold;
}
