// BASE PAGE ELEMENTS

html {
    background: $default-color--html-bgcolor;
    font-family: $font-family--arial;
    // Work out the scales for the base REM (set by html's font-size)
    // for larger or smaller screens. This will affect all values based
    // on REMs
    font-size: $modular-scale--html-base-size;

    @include breakpoint(max-width ($screen-sm - 1)) {
        font-size: $html-size-xs;
        line-height: $html-size-lg;
    }

    @include breakpoint($screen-sm ($screen-md - 1)) {
        font-size: $html-size-sm;
        line-height: $html-size-lg;
    }

    @include breakpoint($screen-md ($screen-lg - 1)) {
        font-size: $html-size-md;
        line-height: $html-size-lg;
    }

    @include breakpoint($screen-lg) {
        font-size: $html-size-lg;
        line-height: $html-size-lg;
    }
}

body{
  background  : $color--white;
  color       : $default-color--text;
  font-family : $font-family--arial;
  position    : relative;
}

.all-content {
  /*
  @media screen and (max-width: $screen-xl) {
    min-width: $screen-xl - 1;
    max-width: $screen-xl - 1;
  }

  @media screen and (max-width: $screen-lg) {
    min-width: $screen-lg - 1;
    max-width: $screen-lg - 1;
  }

  @media screen and (max-width: $screen-sm) {
    min-width: $screen-sm - 1;
    max-width: $screen-sm - 1;
  }
  */
}