.page--about {
    .box-holder{
        float: left;
        width: 100%;

      h2 {
        margin-bottom: 0;
      }
    }
    .box{
        overflow: hidden;
        text-align: left;
        margin-bottom: 40px;
        position: relative;
    
        img{
            float: left;
            width: 100px;
            margin-right: 20px;
        }
    }   
    .image-ul{    
        color: $color--xdk-gray;
        font-size: 16px;
        display: block;
        line-height: 1.4;
        float: left;
        padding-left: 25px;
        width: 80%;
        li{
            padding: 0px 0px 0px 0px;
            position: relative;
            
        }
    }
    .note{
        display: block;
        float: left;
        margin-left: 20%;
    }
    @include breakpoint(max-width ($screen-lg)){
        .box-holder{
            float:none;
        }
        .box img{
            display:none;
        }
        .image-ul{
            width: 100%;
            padding-left:21px;
        }
        .note{
            margin-left: 0px;
        }
    }
}