.page--cards {

  .sort {
    font-family: $font-family--montserrat;
    text-align: right;
    @extend .container-lg;
    padding: 0;
    margin-bottom: $ad-hoc-space-sm;

    > span, ul {
      display: inline-block;
    }

    ul {
      padding-left: 0px;
    }

    li {
      display: inline-block;
      border: 2px solid $color--poolwater;
      padding: $ad-hoc-space-xs;
      font-size: 13px;
      font-family: inherit;
      text-align: center;

      &.active {
        color: $color--black;
        background-color: $color--lt-gray;
        border-color: $color--lt-gray;
      }

      &:hover {
        cursor: pointer;
        color: $color--white;
        background-color: $color--poolwater !important;
        border-color: $color--poolwater;
      }

    }
  }
}