.page--facts {
  .intro {
    margin-bottom: $ad-hoc-space-lg;

    h2{
      position:relative;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      color: $color--teal;
      font-weight: bold;
      font-family: "Montserrat", "sans-serif";
    }
  }

  .nav {
    @extend .container;
    margin: 0px auto;
    padding: $ad-hoc-space-sm $ad-hoc-space-md;
    text-align: center;
    li {
      width: 13.9%;
      display: inline-block;
      text-align: center;
      cursor: pointer;

      div {
        width: 88px;
        height: 88px;
        margin: 0 auto;
        margin-bottom: $ad-hoc-space-sm;
        &:hover {
          cursor: pointer;
        }
      }
      span {
        display: block;
        color: $color--poolwater;
        font-weight: bold;
        font-family: "Montserrat", "sans-serif";
        @include font-size(12px);
      }
      span:after{
        content: url(../images/misc/icon/arrows.svg);
        width: 10px;
        height: 10px;
        display: inline-block;
        position: relative;
        margin: 0 5px 0 5px;
        top: 0;
      }
    }

    li:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  section {
    border-top: 5px solid $color--lt-gray;
    padding-bottom: 47px;

    &.alt {
      background-color: $color--lt-gray;
      border-top: 1px solid $color--teal;
      border-bottom: 1px solid $color--teal;
    }

    .to-top {
      @extend .container-sm;
      text-align: right;
      font-weight: bold;
      margin: 15px auto;
    }
  }

  .map {
    padding-bottom: $ad-hoc-space-md;
    display: block;
    width: 85%;
    margin: 0 auto;
  }

  .symbol-container {
    text-align: center;
    position: relative;
    top: -47px;
    margin-bottom: -25px;

    .symbol {
      height: 88px;
    }
    b {
      color: $color--dk-gray;
      @include font-size(12px);
      margin: 0;
      margin-top: 5px;
      font-weight: bold;
      display: block;
      font-family: $font-family--montserrat;
    }
  }

  .section-pathogens {
    .images.row {
      li {
        list-style: none;
        display: inline-block;
        width: 32%;
        text-align: center;
        margin-bottom: $ad-hoc-space-md;

        img {
          margin-bottom: $ad-hoc-space-md;
        }

        > span {
          display: block;
        }

        .type {
          @include font-size(14px);
          font-family: "Montserrat", "sans-serif";
          color: $color--teal;
        }
        .examples{
          font-family: "Montserrat", "sans-serif";
        }
      }
    }
  }
  .section-testing {
    img.dhr {
      display: inline-block;
      width: 18%;
    }
  }
  .section-genetics {
    .row img {
      width: 100%;
      padding: $ad-hoc-space-md;
    }
    .row .img-resize-container{
      padding:0px 65px 0px 25px;
    }
  }
  .section-carriers{
    img{
      width:80%;
      margin: 0 auto;
    }
  }
  .section-treating {
    .callout-alt {
      background-color: $color--lt-gray;
      padding: $ad-hoc-space-sm 0px;
      margin: $ad-hoc-space-md 0px;
      img {
        width: 30px;
        margin-right: 5px;
      }
      p {
        margin-bottom: 0;
        text-align: center;
        color: $color--poolwater;
        font-family: "Montserrat", "sans-serif";
        font-weight: bold;
      }
    }
  }
  @include breakpoint(max-width $screen-lg) {
    .nav {
      padding: $ad-hoc-space-sm 0px;
      & li {
        width: 32%;
        padding: $ad-hoc-space-sm 0px;
        & span {
          @include font-size(10px);
        }
      }
    }
    .section-carriers {
      img {
        width: 100%;
      }
    }
    .images.row {
      margin-left: -$ad-hoc-space-lg + 10px;
      margin-right: 0px;
      & li {
        display: inline-table !important;
        padding: 0px 5px;
      }
      & img {
        width: 98px;
      }
    }
    .map {
      width: 100%;
    }

    .list-as-column:not(.last-list) {
      margin-bottom: 0 !important;
    }
  }

 @include breakpoint(max-width $screen-lg) {
    section {
      width: 112%;
      margin-left: -6%;
      padding: 0px 6% 45px;
    }
  }
}