.page--resources {
  .container {
    >h6 {
      margin-bottom: 25px;
    }
  }
  .resources-ul{
    padding-left:0px;
    li{
      //font-size:1.4rem;
      color: $color--blue;
      text-decoration: underline;
      list-style-type: none;
      padding-bottom:10px;
    }
  }
}