.page--visual-list {
  h3 {
    margin: 20px 0px;
    background-color: $color--teal;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
  }
  .travel-list {
    padding: 0;
    li {
      list-style: none;
      background-color: $color--lt-gray;
      display: inline-block;
      width: 350px;
      margin: 10px;
      height: 200px;

      .img-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 50%;

        img {
          width: 70%;

          &.shrink {
            width: 40%;
          }
        }
      }

      .details {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding-top: 15px;

        span {
          @include font-size(22px);
          font-family: $font-family--montserrat;
          color: $color--white;
          background-color: $color--teal;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          padding-top: 8px;
          margin-bottom: 10px;
          display: block;
          text-align: center;
        }
        & p {
          font-family: $font-family--montserrat;
          @include font-size(15px);
          min-height: 80px;
        }
      }
    }
  }
  @include breakpoint(max-width $screen-lg) {
    .travel-list {
      width: 740px;
      margin: 0px auto;
      & li {
        width: 350px;
        margin: 5px;
      }
    }
  }

  @include breakpoint(max-width $screen-sm) {
      .travel-list {
        width: 100% !important;
      & li {
        height: auto !important;
        width: 48% !important;
        margin: 5px;
        .details p {
          @include font-size(12px);
          line-height: 20px;
        }
        .img-container {
          width: 33%;
        }
      }
    }
  }

  @include breakpoint(max-width $screen-xs) {
    .travel-list {
        width: 350px !important;
      & li {
        width: 330px !important;
        margin: 0px;
        .details p {
          @include font-size(13px);
          line-height: 22px;
        }
        .img-container {
          width: 30%;
        }
      }
    }
  }
}