﻿@{
    Layout = null;
}

<form action="/Account/Login" method="POST">
    <label>Username: <input type="text" name="username" /></label><br />
    <label>Password: <input type="password" name="password" /></label><br />
    <input type="submit" />
</form>