/// Base icon mixin
/// The icon being generated should have styles for actual element in this layer setup:
/// - layer 1 --> :first-letter pseudo element
/// - layer 2 --> :first-line pseudo element
/// - layer 3 --> actual element
/// - layer 4 --> :after pseudo element
///
/// @group icon
/// @output All necessary text icon styles to have alignment for a four layer display icon.
@mixin icon-base(){

  font-family: $font-icons--family-name; /* See @font-face declarations at bottom */
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block; /* So we can set its width */
  white-space: pre;      /* Turn newlines into actual newlines */
  letter-spacing: -1em;  /* Overlap icons horizontally */
  line-height: 0;        /* Overlap icons vertically */
  padding: 0.5em 0;      /* Compensate for zero line height */
  width: 3em;            /* Compensate for negative letter spacing */

  &:first-letter{ font-weight: 100;   /* Weight for the first layer */  }
  &:first-line{   font-weight: 200;   /* Weight for the second layer */ }
  font-weight: 300;   /* Weight for third layer */
  &:after{        font-weight: 400;   /* Weight for the fourth layer */ }

}

/// Icon definition mixin used to create unique icon styles
///
/// @group icon
/// @param {string} $name - Name of the icon to generate a class for, eg 'email' for the .icon--email class
/// @param {unicode character} $char - Character that the font file for each layer maps to, like 'a' or '\67'
/// @param {color} $layer1-color [#CCC] - Color of layer 1
/// @param {color} $layer2-color [null] - Color of layer 2
/// @param {color} $layer3-color [null] - Color of layer 3
/// @param {color} $layer4-color [null] - Color of layer 4
/// @output Named icon class with colors specified, eg .icon--email class
@mixin icon( $name, $char, $layer1-color:#CCC, $layer2-color:null, $layer3-color:null, $layer4-color:null ) {

  .icon--#{$name}{

    font-family:$font-icons--family-name;

    /* Insert the three first layers (weights 200-400) */
    &:before{

      content: "#{$char}";

      @if( $layer2-color != null ) {
        content: "#{$char}#{$char}";
      }
      @if( $layer3-color != null ){
        content: "#{$char}#{$char} \a#{$char}";
      }
    }

    /* Insert the last layer (weight 100) */
    @if( $layer4-color != null ){
      &:after{ content: $char }
    }

    @include icon-variant( $layer1-color, $layer2-color, $layer3-color, $layer4-color );

    @content;
  }
}

/// Icon variant definition mixin used to create unique icon color combinations
///
/// @group icon
/// @param {color} $layer1-color [null] - Color of layer 1
/// @param {color} $layer2-color [null] - Color of layer 2
/// @param {color} $layer3-color [null] - Color of layer 3
/// @param {color} $layer4-color [null] - Color of layer 4
/// @param {percentage} $darken-amount [0%] - Percentage to darken colors when icon is hovered over
/// @output Named icon class with colors specified
@mixin icon-variant( $layer1-color:null, $layer2-color:null, $layer3-color:null, $layer4-color:null, $darken-amount:0% ){

  //Colors:
  @include transition( color, 200ms );

  //layer 1
  @if( $layer1-color != null ){
    &:first-letter{ color:$layer1-color; }
  }

  //layer 2
  @if( $layer2-color != null ){
    &:first-line{ color:$layer2-color; }
  }

  //layer 3
  @if( $layer3-color != null ){
    color:$layer3-color;
  }

  //layer 4
  @if( $layer4-color != null ){
    &:after{ color:$layer4-color; }
  }

  @if( strip-units($darken-amount) > 0 ){

    &:hover{
      //layer 1
      @if ($layer1-color != null){
        &:first-letter{ color:darken($layer1-color, $darken-amount); }
      }

      //layer 2
      @if ($layer2-color != null){
        &:first-line{ color:darken($layer2-color, $darken-amount); }
      }

      //layer 3
      @if ($layer3-color != null){
        color:darken($layer3-color, $darken-amount);
      }

      //layer 4
      @if ($layer4-color != null){
        &:after{ color:darken($layer4-color, $darken-amount); }
      }
    }
  }
}