@import "../../global/vars/paths";

/// Named logo set and values
/// For non-vector files, name the actual files like:
/// - bg-logo-[logo-name].{png|svg}
/// - bg-logo-[logo-name]-2x.{png}
///
/// Notes:
/// - Dimensions are listed at 1x size, converted up in logo mixin to 2x
/// - Providing a sizes hash will allow scaled classes to be created
///
/// @group logo

$logo--named-logos:(
	  hw-full:(
		type: 		'svg',
		path:		#{$path-root--brand},
		dimensions:	( width:183px,  height:36px ),
		sizes: 		( xs:75px, sm: 112px, md: 168px, lg: 252px, xl: 378px ), // 1.5 modular scale
		retina: 	false
	)
);