﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.Extensions.Options
@inject IOptions<main_app.Models.SiteConfig> config

@{
    // ** ALL LOWER CASE: KEYS AND VALUES **
    Dictionary<string, string[]> lookup = new Dictionary<string, string[]>{
        {"facts", new string[] { "factspage" }},
        {"cards", new string[] { "cardspage" }},
        {"text", new string[] { "textpage" }}
    };

    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string view = ViewContext.RouteData.Values["action"].ToString().ToLower();
    string parent = view;

    if (controller == "subscribe")
    {
        view = controller;
    } else {
        foreach (KeyValuePair<string, string[]> p in lookup)
        {
            if (p.Value.Contains(view))
            {
                parent = p.Key;
                break;
            }
        }
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    
    <title>@Html.Raw(ViewBag.title)</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/branding/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/branding/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/branding/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/branding/favicon/manifest.json">
    <link rel="mask-icon" href="/images/branding/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ie/all.css" asp-append-version="true" />

    <script src="https://use.fontawesome.com/552be543f6.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)

    <script type=“text/javascript” defer=“defer” src="https://extend.vimeocdn.com/ga/63962464.js"></script>
</head>

<body>
<div class="all-content">
    <div class="switch-patients">
        <div class="container">
             <ul class="info-nav-mobile hidden-lg">
                <li><a href="/images/pdf/Prescribing_Information.pdf" target="_blank">Full Prescribing Information</a></li>
                <li><a href="#isi">Important Safety Information</a></li>
            </ul>
            <ul class="gray-ul visible-lg">
                <li class="@(controller == "hcp" ? "active" : "")"><a href="@config.Value.hcpUrl" data-toggle="modal">For Healthcare Professionals</a></li>
                <li class="@(controller == "home" ? "active" : "")"><a href="@config.Value.patientUrl">For Patients</a></li>
            </ul>
         </div>
    </div>
    <nav class="layout--main-nav">
        <div class="container">
            <a href="@Url.Action("index", controller)"" class="logo-container"><img src="/images/branding/osmo-er-logo.svg" class="logo" alt="Parkinson’s Disease Treatment | Extrapyramidal Effects Treatment | OSMOLEX ER"/></a>
            <ul class="mobile-triggers">
                <li class="nav">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>     
                </li>
            </ul>
            <ul class="info-nav visible-lg">
                <li><a href="/images/pdf/Prescribing_Information.pdf" target="_blank">Full Prescribing Information</a></li>
                <li><a href="#isi">Important Safety Information</a></li>
            </ul>
        </div>
            
        <div class="navigation-bar">
            <div class="container">
                <ul class="navigation">
                    @if (controller == "hcp"){
                        <li class="@(parent == "hcp" ? "active" : "") hidden-lg">
                            <a href="@Url.Action("index", "home")" class="expand-circle" data-link="patient">For Patients Site</a>
                        </li>
                    }
                    else{
                            <li class="@(parent == "home" ? "active" : "") hidden-lg">
                            <a href="#" class="expand-circle" data-toggle="modal" data-link="hcp">For HCP Site</a>
                        </li>
                    }
                    <li class="@(parent == "about" ? "active" : "")">
                        <a href="@Url.Action("About",controller)" class="expand">About</a>
                        <ul class="sub-nav">
                            <li class="@(view=="about"?"active":string.Empty)"><a href="@Url.Action("About",controller)">Osmodex<sup>&reg;</sup> Drug Delivery System</a></li>
                            @if (controller == "hcp"){
                                <li class="@(view=="about"?"active":string.Empty)"><a href="@Url.Action("About",controller)#keyfeatures">Pharmacokinetic Profile</a></li>  
                            }
                        </ul>
                    </li>
                    <li class="@(parent == "dosing" ? "active" : "")">
                        <a href="@Url.Action("Dosing", controller)" class="expand">Dosing</a>
                        <ul class="sub-nav">
                            <li class="@(view=="dosing"?"active":string.Empty)"><a href="@Url.Action("Dosing",controller)">Dosing Options</a></li>
                            @if (controller == "home"){
                                <li class="@(view=="dosing"?"active":string.Empty)"><a href="@Url.Action("Dosing",controller)#administration">Administration</a></li>
                            }
                        </ul>
                    </li>
                    <li class="@(parent == "affordability" ? "active" : "")">
                        <a href="@Url.Action("Affordability",controller)"  class="expand">Affordability</a>
                            <ul class="sub-nav">
                                @if (controller == "hcp"){
                                <li class="@(view=="affordability"?"active":string.Empty)"><a href="@Url.Action("Affordability",controller)">OSMOLEX ER Out of Pocket</a></li>
                            }
                            <li class="@(view=="affordability"?"active":string.Empty)"><a href="@Url.Action("Affordability",controller)#accessosmolex">AccessOsmolex<sup>&trade;</sup></a></li>
                        </ul>
                    </li>
                    <li class="@(parent == "resources" ? "active" : "")">
                        <a href="@Url.Action("Resources", controller)" class="expand">Resources</a>
                            <ul class="sub-nav">
                            <li class="@(view=="resources"?"active":string.Empty)"><a href="@Url.Action("Resources",controller)">Resource List</a></li>
                        </ul>
                    </li>
                    </ul>
            </div>
        </div>
        <div class="screen"></div>
    </nav>

    @RenderSection("BeforePage", required: false)
    <div class="body-content">
        @RenderBody()
    </div>
    @if (controller == "hcp"){
    <div class="layout--isi section-isi" id="isi">
        <div class="container">
            <div class="wrapper marker">
                <div id="isi-drawer">
                    <div class="drawer-wrapper">
                            <div class="isi-title-wrapper">
                                <div class="isi-title">
                                    <div class="container">
                                        <h3>Important Safety Information</h3>
                                        <div class="isi-toggle-up">
                                            <button id="isi-toggle-up-button">
                                                <img src="/images/misc/icon/plus-icon.svg">Expand
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="content">
                        <h3>INDICATION</h3>
                        <p>OSMOLEX ER<sup>&trade;</sup> (amantadine) extended-release tablets is indicated for the treatment of Parkinson's disease and for the treatment of drug-induced extrapyramidal reactions in adult patients.</p>
                    </div>
                </div>
            </div>
            <div id="isi-fixed">
                <div class="drawer-wrapper">
                    <h3 class="padding-bottom-md--show-at-md padding-bottom-md--show-below-md">Important Safety Information</h3>
                    <!--h3>INDICATION</h3>
                    <p>OSMOLEX ER<sup>&trade;</sup> (amantadine) extended-release tablets is indicated for the treatment of Parkinson's disease and for the treatment of drug-induced extrapyramidal reactions in adult patients.</p-->
                    <!--br-->
                    <h3>CONTRAINDICATION</h3>
                    <p>OSMOLEX ER is contraindicated in patients with end-stage renal disease (i.e., creatinine clearance below 15 mL/min/1.73 m<sup>2</sup>).</p>
                    <br>
                    <h3>WARNINGS AND PRECAUTIONS</h3>
                    <p><strong>Falling Asleep During Activities of Daily Living and Somnolence:</strong> Patients treated with amantadine have reported falling asleep while engaged in activities of daily living, including the operation of motor vehicles, which sometimes has resulted in accidents. Patients may not perceive warning signs, such as excessive drowsiness, or they may report feeling alert immediately prior to the event. Before initiating treatment with OSMOLEX ER, advise patients of the potential to develop drowsiness and specifically ask about factors that may increase the risk of somnolence with OSMOLEX ER, such as concomitant sedating medications, alcohol, or the presence of a sleep disorder. If a patient develops daytime sleepiness or episodes of falling asleep during activities that require full attention (eg, driving a motor vehicle, conversations, eating), OSMOLEX ER should ordinarily be discontinued. If a decision is made to continue OSMOLEX ER, advise patients not to drive and to avoid other potentially dangerous activities that might result in harm if they become somnolent.</p><br>
                    <p><strong>Suicidality and Depression:</strong> Suicide, suicide attempts, and suicidal ideation have been reported in patients with and without prior history of psychiatric illness while treated with amantadine. Monitor patients for depression, including suicidal ideation or behavior. Prescribers should consider whether the benefits of treatment with OSMOLEX ER outweigh the risks in patients with a history of suicidality or depression.</p><br>
                    <p><strong>Hallucinations/Psychotic Behavior:</strong> Patients with a major psychotic disorder should ordinarily not be treated with OSMOLEX ER due to the risk of exacerbating psychosis. Monitor patients for hallucinations throughout treatment but especially after initiation and after the dose of OSMOLEX ER is increased or decreased.</p><br>
                    <p><strong>Dizziness and Orthostatic Hypotension:</strong> Patients should be monitored for these adverse reactions, especially after starting OSMOLEX ER or increasing the dose.</p><br>
                    <p><strong>Withdrawal-Emergent Hyperpyrexia and Confusion:</strong> Abrupt discontinuation of OSMOLEX ER may cause an increase in the symptoms of Parkinson's disease or cause delirium, agitation, delusions, hallucinations, paranoid reaction, stupor, anxiety, depression, or slurred speech. It is recommended that patients avoid sudden discontinuation of OSMOLEX ER.</p><br>
                    <p><strong>Impulse Control/Compulsive Behaviors:</strong> Patients can experience increased sexual urges, and intense urges to gamble, spend money, binge eat, and/or other intense urges, and the inability to control these urges while taking one or more medications that increase central dopaminergic tone, including OSMOLEX ER. It is important for prescribers to specifically ask patients or their caregivers about the development of new or increased urges while being treated with OSMOLEX ER. Consider dose reduction or stopping the medication if a patient develops such urges while taking OSMOLEX ER.</p><br>
                    <br>
                    <h3>ADVERSE REACTIONS</h3>
                    <p>The most common adverse reactions reported in ≥5% of patients at the recommended dosage of immediate-release amantadine were nausea, dizziness/lightheadedness, and insomnia.</p>                               
                    <br>
                    <h3>DRUG INTERACTIONS</h3>
                    <p><strong>Other Anticholinergic Drugs:</strong> The dose of anticholinergic drugs or of OSMOLEX ER should be reduced if atropine-like effects appear when these drugs are used concurrently.</p><br>
                    <p><strong>Drugs Affecting Urinary pH:</strong> The pH of urine has been reported to influence the excretion rate of amantadine. Alterations in urine pH towards the alkaline condition may lead to an accumulation of the drug with a possible increase in adverse reactions. Monitor for efficacy or adverse reactions under conditions that alter the urine pH to more acidic or alkaline, respectively.</p><br>
                    <p><strong>Live Attenuated Influenza Vaccines:</strong> Amantadine may interfere with the efficacy of live attenuated influenza vaccines. Therefore, live vaccines are not recommended during treatment with OSMOLEX ER. Inactivated influenza vaccines may be used as appropriate.</p><br>
                    <p><strong>Alcohol:</strong> Concomitant use with alcohol is not recommended, as it may increase the potential for central nervous system effects such as somnolence, dizziness, confusion, lightheadedness, and orthostatic hypotension.</p><br>
                    @if (parent == "affordability"){
                        <p><strong>REFERENCES:</strong> <strong>1</strong>. Medicare Part D: A First Look at Prescription Drug Plans in 2018. Henry J. Kaiser Family Foundation website. https://www.kff.org/report-section/medicare-part-d-a-first-look-at-prescription-drug-plans-in-2018-findings/. Published October 13, 2017. Accessed April 12, 2018. <strong>2</strong>. 2017 Employer Health Benefits Survey. Henry J. Kaiser Family Foundation website. https://www.kff.org/report-section/ehbs-2017-section-9-prescription-drug-benefits/. Published September 19, 2017. Accessed April 12, 2018.</p>
                    }
                    else if (parent == "dosing"){
                        <p><strong>REFERENCES:</strong> <strong>1</strong>. OSMOLEX ER [prescribing information]. Bridgewater, NJ: Vertical Pharmaceuticals, LLC; 2018. <strong>2</strong>. Center for Drug Evaluation and Research. Naming of drug products containing salt drug substances: guidance for industry. US Food and Drug Administration website. https://www.fda.gov/downloads/drugs/guidancecomplianceregulatoryinformation/guidances/ucm379753.pdf. Published June 2015. Accessed March 23, 2018. </p>
                    }
                    else if (parent != "resources"){
                       <p><strong>REFERENCES:</strong> <strong>1</strong>.OSMOLEX ER [prescribing information]. Bridgewater, NJ: Vertical Pharmaceuticals, LLC; 2018. <strong>2</strong>. Data on File. Osmotica Pharmaceuticals.</p>
                    }
                    </div>
                        <div id="isi-focus">
                            <div class="modal fade" id="isi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" id="isi-toggle-up-button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>

                                            <span id="isi-modal-header"></span>
                                        </div>
                                        <div id="isi-focus-body" class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    }
    else{
        <div class="layout--isi section-isi" id="isi">
                    <div class="container">
                        <div class="wrapper marker">
                            <div id="isi-drawer">
                                <div class="drawer-wrapper">
                                        <div class="isi-title-wrapper">
                                            <div class="isi-title">
                                                <div class="container">
                                                    <h3>Important Safety Information</h3>
                                                    <div class="isi-toggle-up">
                                                        <button id="isi-toggle-up-button">
                                                            <img src="/images/misc/icon/plus-icon.svg">Expand
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <div class="content">
                                    <h3>What is OSMOLEX ER<sup>™</sup> (amantadine) extended release tablets?</h3>
                                    <p>OSMOLEX ER is a prescription medicine used to treat adults with:</p>
                                    <ul>
                                        <li>Parkinson’s disease</li>
                                        <li>Drug-induced extrapyramidal reactions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="isi-fixed">
                            <div class="drawer-wrapper">

                                <h3 class="padding-bottom-md--show-at-md padding-bottom-md--show-below-md">Important Safety Information</h3>
                                <h3>What is OSMOLEX ER<sup>™</sup> (amantadine) extended release tablets?</h3>
                                <p>OSMOLEX ER is a prescription medicine used to treat adults with:</p>
                                <ul>
                                    <li>Parkinson’s disease</li>
                                    <li>Drug-induced extrapyramidal reactions</li>
                                </ul>
                                <p>It is not known if OSMOLEX ER is safe and effective in children.</p>
                                <br>
                                <h3>BEFORE TAKING OSMOLEX ER, TELL YOUR DOCTOR ABOUT ALL MEDICAL CONDITIONS, INCLUDING IF YOU:</h3>
                                <ul>
                                    <li>have kidney problems. Do not take OSMOLEX ER if you have severe kidney problems</li>
                                    <li>have unexpected sleepiness, take medicine to help you sleep or that makes you drowsy</li>
                                    <li>have mental problems, such as suicidal thoughts, depression, or hallucinations</li>
                                    <li>have unusual urges, including gambling, increased sex drive, compulsive eating, or compulsive shopping</li>
                                    <li>drink alcoholic beverages</li>
                                    <li>are pregnant or plan to become pregnant or are breastfeeding or plan to breastfeed. OSMOLEX ER may harm your unborn baby and can pass into your breastmilk</li>
                                </ul>
                                <p>Tell your doctor about all the medicines you take, including prescription and over-the-counter medicines, vitamins, and herbal supplements. Especially tell your doctor if you take sodium bicarbonate, a medicine that contains sodium bicarbonate, or are planning to receive the flu vaccine.</p>
                                <br>
                                <h3>WHAT SHOULD I AVOID WHILE TAKING OSMOLEX ER?</h3>
                                <ul>
                                    <li>Do not drive, operate heavy machinery, or do other dangerous activities until you know how OSMOLEX ER affects you</li>
                                    <li>You should not drink alcohol while taking OSMOLEX ER because it can increase your chances of serious side effects</li>
                                    <li>Do not stop taking OSMOLEX ER or change your dose before talking with your doctor. Tell your doctor if you have symptoms of withdrawal such as fever, confusion, or severe muscle stiffness</li>
                                    <li>You may receive the flu vaccine (shot or injection) but should not get the live flu vaccine (nasal spray) while taking OSMOLEX ER</li>
                                </ul>
                                <br>
                                <h3>WHAT ARE THE POSSIBLE SIDE EFFECTS OF OSMOLEX ER?</h3>
                                <p>OSMOLEX ER may cause serious side effects, including:
                                    </p><ul>
                                        <li>falling asleep during normal activities, such as driving, talking, or eating, while taking OSMOLEX ER. You may fall asleep without being drowsy or warning. The risk is greater if you take OSMOLEX ER with other medicines that cause drowsiness or drink alcohol. Tell your doctor right away if this happens</li>
                                        <li>suicidal thoughts or actions and depression. Tell your doctor right away if you have significant changes in your mood, behaviors, or thoughts, including thoughts about hurting yourself or ending your life</li>
                                        <li>hallucinations (seeing, or hearing things that are not real) while you are taking OSMOLEX ER or if you suddenly stop taking OSMOLEX ER</li>
                                        <li>feeling dizzy, faint, or light-headed, especially when you stand up too quickly, when you first start OSMOLEX ER, or if your dose has been increased. Tell your doctor if you become dizzy, light-headed, or faint when standing up</li>
                                        <li>unusual urges, including gambling, sexual, spending money, and binge eating, and the inability to control these urges. If you notice or your family notices that you are developing any unusual behaviors, talk to your doctor</li>
                                    </ul>
                                <p></p>
                                <p>The most common side effects of OSMOLEX ER include nausea, dizziness, lightheadedness, and trouble sleeping.</p>
                                <br>
                                <p><strong>These are not all the possible side effects of OSMOLEX ER. Call your doctor for medical advice about side effects.You may report side effects to the FDA. Visit <a href="http://www.fda.gov/medwatch" target="_blank">www.fda.gov/medwatch</a> or call at 1-800-FDA-1088.</strong></p>
                                    </div>
                                    <div id="isi-focus">
                                        <div class="modal fade" id="isi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" id="isi-toggle-up-button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span></button>

                                                        <span id="isi-modal-header"></span>
                                                    </div>
                                                    <div id="isi-focus-body" class="modal-body">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
    }
    <footer class="layout--footer">
        <div class="container">
            <div class="col-lg-6 logo-left">
                    <a href="http://www.verticalpharma.com" target="_blank"><img src="/images/branding/vertical-logo.png" class="logo" alt="Vertical Pharmaceuticals, LLC | marketing trusted medicines and making a difference in people’s lives"/></a>
            </div>
            <div class="col-lg-6 align-right logo-right">
                    <a href="http://www.osmotica.com/"><img src="/images/branding/logo.svg" class="logo" alt="Osmotica Pharmaceuticals | drug delivery technologies"/></a>
            </div>
            <div class="footer-info"> 
                <div class="col-lg-6 padding-top-md--show-at-md text-left">
                    <p>Distributed by: Vertical Pharmaceuticals, LLC</p>
                    <p>Bridgewater, NJ 08807</p>
                    <p>Customer Service: <a class="white-text" href="tel:1-866-600-4799">1-866-600-4799</a></p>
                </div>
                <div class="col-lg-6 align-right text-right">
                    <ul class="info-nav">
                        <li><a href="http://www.osmotica.com/privacy-policy/" target="_blank" data-link='internal'>Privacy Policy</a></li>
                        <li><a href="http://www.osmotica.com/terms-of-use/" target="_blank" data-link='internal'>Terms of Use</a></li>
                        <li>&copy; 2018 Vertical Pharmaceuticals, LLC</li>
                    </ul>
                    <div>
                    <p class="align-right">@(controller == "hcp" ? "PM-US-OSM-0042": "PM-US-OSM-0033")</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
@Html.Partial("Modal")
@Html.Partial("ModalOnLoad")
@Html.Partial("ExpandableImageModal")
<script src="~/js/common.js"></script>

<script>
    var vars = {
        mobile: {
            width: 1024
        },
        isMobile: function() {
            return $(window).width() < this.mobile.width;
        }
    }

    var tags = {
        none: 'All',
        category1: 'Category 1',
        category2: 'Category 2'
    };

    var scrollToElement = function(el, time) {
        var offset = $('.layout--nav-container').height(),
            obj = $.type(el) == 'object' ? el : $(el);
        $('html, body').animate({scrollTop: obj.offset().top - offset}, time);
    }

    $('.back-to-top img').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        scrollToElement('.all-content', 1000);
    });
</script>

<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
