<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["title"]</title>
        @RenderSection("CSS", false)
        @RenderSection("head", false)
    </head>

    <body>
        @RenderBody()
        @RenderSection("Scripts", false)
    </body>
</html>