@{
    string heading = (string)ViewData["heading"];

    bool hasHeading = false;
    if (!String.IsNullOrEmpty(heading)) {
        hasHeading = true;
    }

    string text = (string)ViewData["text"];
}

<div class="layout--callout @(hasHeading ? "with-heading" : string.Empty)">
    @if (hasHeading) {
    <h2>@heading</h2>
    }
    <p class="text">@Html.Raw(text)</p>
</div>