@{
    string image = (string)ViewData["image"];
    string text = (string)ViewData["text"];
    string attribution = (string)ViewData["attribution"];
    string alt = (string)ViewData["alt"];
}

<div class="layout--captioned-image">
    <img src="/images/misc/@image" alt="@alt" />
    <div class="content"><span class="open-quotes"></span><span class="quote">@Html.Raw(text)</span>
    <span class="attribution">@attribution</span>
    </div>
    
</div>