@{
    string heading = (string)ViewData["heading"];

    string headingType = (string)ViewData["heading-type"];
    if (String.IsNullOrEmpty(headingType)) {
        headingType = "h2";
    }

    string body = (string)ViewData["body"];

    string image = (string)ViewData["image"];

    string altTag = (string)ViewData["altTag"];

    bool hasImage = false;
    if (!String.IsNullOrEmpty(image)) {
        hasImage = true;
    }

    string altImage = (string)ViewData["alt-image"];

    bool hasAltImage = false;
    if (!String.IsNullOrEmpty(altImage)) {
        hasAltImage = true;
    }
}

<div class="layout--content @(hasImage ? "with-image" : string.Empty)">
    <@headingType>@Html.Raw(heading)</@headingType>
    <div class="body">@Html.Raw(body)</div>

    @if (hasAltImage) {
        <div class="adapt-all image"><img src="@image" class="desktop" alt="@altTag" /><img src="@altImage" class="tablet" alt="@altTag" /><img src="@altImage" class="mobile" alt="@altTag" /></div>
    } else if (hasImage) {
        <img src="@image" class="image" alt="@altTag" />
    }
</div>