@{
    string[] types = (string[])ViewData["types"];

    string[] positions = new string[] {"center"};
    if (types.Length>1) {
        positions = new string[] {"left", "right"};
    }
}
<div class="layout--cta-set">
@for(int i=0; i<types.Length; i++) {
    <div class="layout--cta @positions[i]">
        @Html.Partial("CTA", new ViewDataDictionary(ViewData) {{"type", types[i]}})
    </div>
}
</div>