@{
    var CTAs = new Dictionary<string, CTA> {
        {"cta1", new CTA("AccessOsmolex Support Center","","cta1.svg","affordability#accessosmolex", "Learn More", "", "Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER","")},
        {"cta2", new CTA("OSMOLEX ER Patient Brochure","","cta2.jpg","/images/pdf/Osmolex-Patient-Brochure.pdf", "Download", "heading-first", "what can help Parkinson’s disease | extrapyramidal disease information | OSMOLEX ER Patient Brochure","")}
    };

    string type = (string)ViewData["type"];
    var cta = CTAs[type];
}

<a href="@cta.url" @(!string.IsNullOrEmpty(cta.linkType) ? string.Format("data-link={0}", cta.linkType) : string.Empty) class="cta-container hover-container @cta.styleType ga-tag" @(cta.url.IndexOf(".pdf") != -1 ? "target=\"_blank\"" : string.Empty)>
    <img src="/images/misc/cta/@cta.image" alt="@cta.altTag"/>

    <div class="group">
        <h2>@cta.heading</h2>
        <span class="action">@cta.action</span>
    </div>

    <span class="action">@cta.action</span>

</a>