<div class="modal fade layout--expanded-image" id="expandable-image" tabindex="-1" role="dialog" aria-labelledby="interstitial-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        <div class="modal-body"><img src="" class="modal-main-image" /></div>
        </div>
    </div>
</div>