@{
    string src = (string)ViewData["src"];
    string alt = (string)ViewData["alt"];
    string className = (string)ViewData["class"];
    string note = (string)ViewData["note"];
    bool hasClass = false;
    bool hasnote = false;
    if (!String.IsNullOrEmpty(className)) {
        hasClass = true;
    }
    if (!String.IsNullOrEmpty(note)) {
        hasnote = true;
    }

}

<div class="layout--expandable-image" data-expandable="1">
    @if (hasClass){
        <img src="@src" class="@className" alt="@alt"/>
    } 
    else{
        <img src="@src" alt="@alt"/>
    }
    @if (hasnote){
        <p class="hidden note">@note</p>
    }
</div>