@{
    var CTAs = new Dictionary<string, CTA>() {
        {"basics", new CTA("Download This Page","Share this information with family and friends, or when you talk to your doctor about the best way to manage your CGD.","epic-content-thumb.png","/images/pdf/CGD-Basics.pdf","Download now", null,"Information about chronic granulomatous disease (CGD) download", "CGD-Basics")},
        {"healthy", new CTA("Start making your home healthier", "","healthy-home-thumb.png","/images/pdf/Healthy-Home-Tips.pdf","Download a list of tips you can use today", null,"Chronic granulomatous disease (CGD) healthy home tips download","Healthly")},
        {"school", new CTA("Download the facts about CGD to share with your school staff","","epic-content-thumb.png","/images/pdf/CGD-Basics.pdf","Download the CGD facts now", null,"Information about chronic granulomatous disease (CGD) download","school")},
        {"careplan", new CTA("Be prepared with a Care Plan","Download this Care Plan and fill out the information about your CGD medical history to have ready at a moment’s notice.","care-plan-thumb.png","/images/pdf/CGD-Care-Plan.pdf","Download the PDF now", null, "Chronic granulomatous disease (CGD) care plan download","CGD-Care-Plan")}
    };

    string type = (string)ViewData["type"];
    var cta = CTAs[type];
}

<a class="layout--file-cta @cta.download @cta.gaTag" href="@cta.url" target="@cta.GetUrlTarget()">
    <div class="icon-container adapt">
        <img src="/images/misc/icon/icon-download.svg" class="icon desktop @cta.download @cta.gaTag" alt="Download button" />
        <img src="/images/misc/icon/mobile/icon-download.svg" class="icon mobile @cta.download @cta.gaTag" alt="Download button" />
    </div>
    <div class="content">
    <h2>@cta.heading</h2>
    <p>@cta.description</p>

    <span class="btn btn-white bordered action @cta.download @cta.gaTag">@cta.action</span>
    </div>

    <img src="/images/misc/thumbnails/@cta.image" class="image @cta.download @cta.gaTag" alt="@cta.altTag" />
</a>