@{
    string heading = (string)ViewData["heading"];
    string subhead = (string)ViewData["subhead"];
    string body = (string)ViewData["body"];
    string name = (string)ViewData["name"];
    string alt = (string)ViewData["alt"];
    string role = (string)ViewData["role"];
    string image = (string)ViewData["image"];
    string mobileImage = (string)ViewData["mobile-image"];
    string textImage = (string)ViewData["textImage"];
    string textImageAlt = (string)ViewData["textImageAlt"];
    string note = (string)ViewData["note"];

    string path = "/images/hero/";
    string imagePath = path + image;
    string heroTextPath = path + textImage;
    string imageHeight = (string)ViewData["image-height"];

    string mobilePath = path + "mobile/";
    string mobileImagePath = mobilePath + mobileImage;
    string mobileImageHeight = (string)ViewData["mobile-image-height"];
}
<div class="layout--hero">
    <div class="adapt">
        <div class="desktop image" title="@alt" style="background-image: url(@imagePath); height: @imageHeight">
               <div class="container">
                    <div class="hero-text"><img src="@heroTextPath" alt="@textImageAlt"/></div>
                    <p class="note">@Html.Raw(note)</p>
                </div>
        </div>
        <div class="mobile image" title="@alt" style="background-image: url(@mobileImagePath); height: @mobileImageHeight">
            <div class="container">
                        <div class="hero-text"><img src="@heroTextPath" alt="@textImageAlt"/></div>
                        <p class="note">@Html.Raw(note)</p>
                    </div>
            </div>
    </div>
       

    <div class="attribution">
        <span class="name">@name</span>
        <span class="role">@role</span>
    </div>
</div>