@{
    string heading = (string)ViewData["heading"];
    string note = (string)ViewData["note"];
    string alt = (string)ViewData["alt"];
    string icon = (string)ViewData["icon"];
    string path = "/images/misc/";
    string iconPath = path + icon; 
    string[] items = (string[])ViewData["items"];
}
    <div class="box about">
        <img src="@iconPath" alt="@alt">
        <div class="right-content">
            <h2>@heading</h2>
            <ul class="image-ul">
            @for(int i=0; i<items.Length; i++) {
                <li>@items[i]</li>
            }
            </ul>
             @if (note!= ""){
                    <div class="note">@note</div>
                }
        </div>
    </div>