@using Microsoft.Extensions.Options
@inject IOptions<main_app.Models.SiteConfig> config

<div class="modal fade layout--modal" id="site-select-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header">
                <h4 class="modal-title" id="interstitial-label">Thank you for visiting Osmolex ER<sup>&trade;</sup> (amantadine)</h4>
            </div>
        <div class="modal-body">Please make a selection below so we can<br> provide you with an optimal user experience.</div>
        <div class="modal-footer">
            <a class="btn btn-primary action-hcp" href="@config.Value.patientUrl?x=1">I am a Patient</a>
            <a class="btn btn-primary action-patient" href="@config.Value.hcpUrl">I am a Healthcare Professional</a>
        </div>
        </div>
    </div>
</div>