@using Microsoft.Extensions.Options
@inject IOptions<main_app.Models.SiteConfig> config

<div class="modal fade layout--modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header">
                <h4 class="modal-title" id="interstitial-label"></h4>
            </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <a class="btn btn-primary action-hcp" href="@config.Value.hcpUrl">CONTINUE TO HCP</a>
            <a class="btn btn-primary action-patient" href="@config.Value.patientUrl">RETURN TO PATIENT</a>
        </div>
        </div>
    </div>
</div>