<div class="layout--pdf">
    <div class="content">
    <h2>Save This Page</h2>
    <p>Share this information with family and friends, or when you talk to your doctor about the best way to manage your CGD.</p>

    <a href="#" class="btn btn-white bordered">Download now</a>
    </div>

    <img src="/images/misc/thumbnails/fpo.png" class="image" />
</div>