@{
    string src = (string)ViewData["img-src"];
    string alt = (string)ViewData["alt"];
    string heading = (string)ViewData["heading"];
    string description = (string)ViewData["description"];
    string action = (string)ViewData["action"];
    string url = (string)ViewData["url"];
}

<div class="layout--resource">
    <div class="image-container">
        <img src="@src" alt="@alt"/>
    </div>
    <div class="container">
        <h3>@heading</h3>
        <p>@description</p>
        <a href="@url" target="_blank" class="action bordered-box">@action</a>
    </div>
</div>