@{

}

<div class="layout--signup">
    <div class="content">
        <h2>Turn your inbox into a help box</h2>
        <p>Stay updated with helpful information about managing CGD</p>
        <a href="/keep-connected" class="action">Sign up today</a>
    </div>
</div>