@{

}

<div class="layout--signup-cta" title="An adult with chronic granulomatous disease (CGD) on his computer">
    <div class="content">
        <h2>Turn your inbox into a help box</h2>
        <p>Stay updated with helpful information about managing CGD.</p>
        <form action="/keep-connected" method="GET">
            <input type="text" name="email" placeholder="Email Address" />
            <button type="submit" class="btn btn-white bordered action has-alt ga-tag-signup">Submit</button>
        </form>
    </div>
</div>