@{
    string name = (string)ViewData["name"];
    string description = (string)ViewData["description"];
    string tweet = (string)ViewData["tweet"];
    string emailSubject = (string)ViewData["emailSubject"];
    string emailBody = (string)ViewData["emailBody"];

    string link = (string)ViewData["link"];
    if (link == null && ViewData["MetaUrl"] != null) {
        link = (string)ViewData["MetaUrl"];
    }

    string caption = (string)ViewData["caption"];
    if (caption == null) {
        caption = "BITLY";
    }

    string picture = (string)ViewData["picture"];
    if (picture == null && ViewData["MetaImg"] != null) {
        picture = (string)ViewData["MetaImg"];
    }
}

<div id="socialWrapper" class="layout--social-share">
    <a class="facebookBtn socialBtn ga-tag" target="_blank" href="http://www.facebook.com/dialog/feed?app_id=1578185868918542&display=popup&link=@link&caption=@caption&picture=@picture&description=@description&name=@name" data-cat="Exit"  data-action="Facebook Share" data-label="Share"></a>
    <a class="twitterBtn socialBtn ga-tag" target="_blank" href="https://twitter.com/intent/tweet?text=@tweet @link" data-cat="Exit"  data-action="Twitter Share" data-label="Share"></a>
    <a class="emailBtn socialBtn ga-tag" target="_blank" href="mailto:?subject=@emailSubject&body=@emailBody @link" data-cat="Exit"  data-action="Email" data-label="Share"></a>
</div>