@{
    string videoUrl = (string)ViewData["video-url"];

    string poster   = (string)ViewData["poster"];

    string alt   = (string)ViewData["alt"];

    string path = "/images/misc/thumbnails/";

    string posterUrl = path + poster;
    

   /* string transcript = (string)ViewData["transcript"];

    string heading = (string)ViewData["heading"];

    string headingType = (string)ViewData["heading-type"];
    if (String.IsNullOrEmpty(headingType)) {
        headingType = "h2";
    }

    string headingElement = string.Empty;
    if (!String.IsNullOrEmpty(heading)) {
        headingElement = string.Format("<{1}>{0}</{1}>", heading, headingType);
    }*/
}

<div class="layout--video">
    <div class="video-wrapper">
        <div class='embed-container' title="@alt">
            <!--iframe src='https://player.vimeo.com/external/293179130.sd.mp4?s=cbb0ad9a7d5b951f15de1325d9735ed700588d64&profile_id=165&autoplay=false' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe-->
            <video width="642" height="361" controls poster="@posterUrl"><source src="@videoUrl" type="video/mp4"></video>
        </div>
    </div>
</div>