
// DIMENSIONS


/* SCREEN SIZES */
$screen-xs: 540px;
$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1440px;

/* ICON SIZES */
$icon-size--xl: 128px;
$icon-size--lg: 64px;
$icon-size--md: 32px;
$icon-size--sm: 24px;
$icon-size--xs: 16px;

/* AD HOC SIZING / DIMENSIONS */
$ad-hoc-space-xl: 100px;
$ad-hoc-space-lg: 50px;
$ad-hoc-space-md: 20px;
$ad-hoc-space-sm: 10px;
$ad-hoc-space-xs: 5px;

/* BORDER SIZES */
$ad-hoc-border-lg: 3px;
$ad-hoc-border-md: 2px;
$ad-hoc-border-sm: 1px;

/* BORDER RADIUS SIZES */
$ad-hoc-border-radius-sm: 3px;
$ad-hoc-border-radius-md: 4px;
$ad-hoc-border-radius-lg: 6px;
$ad-hoc-border-radius-xl: 16px;

/* OVERFLOW CONTAINER SIZES */
$ad-hoc-overflow-sizes: (
  x:( sm:25%,   md:50%,   lg:100%   ),
  y:( sm:200px, md:300px, lg:400px  )
);

/* TRIANGLE SIZES */
$triangle-size--xl: 12px;
$triangle-size--lg: 10px;
$triangle-size--md: 8px;
$triangle-size--sm: 6px;
$triangle-size--xs: 4px;

/* DIMENSIONAL ARRAYS */
$dimensions--screen-sizes:(
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
);

$dimensions--box-sizes: (
  xs: $ad-hoc-space-xs,
  sm: $ad-hoc-space-sm,
  md: $ad-hoc-space-md,
  lg: $ad-hoc-space-lg,
  xl: $ad-hoc-space-xl,
);

$dimensions--border-sizes: (
  sm: $ad-hoc-border-sm,
  md: $ad-hoc-border-md,
  lg: $ad-hoc-border-lg
);

$dimensions--border-radii: (
  sm: $ad-hoc-border-radius-sm,
  md: $ad-hoc-border-radius-md,
  lg: $ad-hoc-border-radius-lg,
  xl: $ad-hoc-border-radius-xl
);

$dimensions--triangle-sizes: (
  xl: $triangle-size--xl,
  lg: $triangle-size--lg,
  md: $triangle-size--md,
  sm: $triangle-size--sm,
  xs: $triangle-size--xs
);

$dimensions--box-dimension-types: (
  margin,
  padding
);

$dimensions--positions: (
  top,
  right,
  bottom,
  left
);

/* DEFAULTS VALUES */
$default-border--radius:  map_get($dimensions--border-radii, xl);
$default-border--size:    map_get($dimensions--border-sizes, sm);
$default-margin--size:    0;//$ad-hoc-space-sm;
$default-padding--size:   $ad-hoc-space-sm;