
// MODULAR SCALE DEFINITIONS
//
// See reference:
// https://github.com/modularscale/modularscale-sass#ratios
//
// NOTE: we use px in order to convert them to rems later in the font-size function


// HTML
// base size text @ a desktop size
$modular-scale--html-base-size:           12px;
$modular-scale--html-scale:               $minor-second;

// TEXT
// base size of xs text @ a desktop size
$modular-scale--text-base-size:           8px;
$modular-scale--text-scale:               $minor-third;

// LINE HEIGHTS
// base size of xs line height @ a desktop size
$modular-scale--line-height-base-size:    13px;
$modular-scale--line-height-scale:        $major-third;

// HEADERS
// base size of h6 @ a desktop size
$modular-scale--header-base-size:         14px;
$modular-scale--header-scale:             $minor-third;

// LINE HEIGHTS
// base size of xs line height @ a desktop size
$modular-scale--header-line-height-base-size:    22px;
$modular-scale--header-line-height-scale:        $minor-third;