// Root paths
$path-root--images : 			'../images/';
$path-root--fonts : 			'../fonts/';
$path-root--brand : 			$path-root--images + 'branding/';

$path-url--logo-prefix : 		'logo-';
$path-url--logo-2x-signifier: 	'2x'
