@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "CGD facts"},
    {"body", @"
        <p>Chronic granulomatous disease (CGD) is a rare disease. There are about 20 children born with CGD each year in the United States.</p>
        <img src='/images/misc/us-map.png' class='map' alt='About 20 children are born with chronic granulomatous disease (CGD) each year in the United States'/>
        <p>People with CGD have an immune system that doesn’t work properly. A healthy immune system usually prevents infections from becoming serious. An immune system with CGD can typically stop viral infections like a cold or flu, but can’t stop serious infections started by certain bacteria and fungi. Since CGD is a chronic condition, it means that a person will have the disease for all of his or her life.</p>
        <h3 class='header--h3'>What is a granuloma?</h3> <p>When the immune system finds harmful things in the body, like bacteria and fungi, it sends immune cells to kill them. If the infection doesn’t go away, more immune cells show up to try to kill the bacteria or fungi. In time, the extra immune cells build up and form a hard lump called a granuloma. This is how the disease got its name. As the granulomas build up, they can cause problems in places like the intestine, and can cause symptoms such as:
            <ul class='green-ul'>
                <li>Pain in the stomach</li>
                <li>Diarrhea</li>
                <li>Weight loss</li>
            </ul>
        <p>These symptoms are similar to symptoms of Crohn's disease, which is a type of inflammatory bowel disease (IBD).</p>
    "}
})