@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "CGD starts in the genes"},
    {"body", @"
        <p>CGD isn’t something you can catch. It’s a genetic condition, which means you’re born with it. It’s passed down to a child from one or both parents who can be “carriers.” A carrier doesn’t have the disease, but his or her children can end up with it. <a href='#carrier' class='go-to-section' data-section='carriers'>Carriers of CGD</a> have 1 normal copy of the gene and 1 copy of the gene that doesn’t work right. There are 2 types of CGD: X-linked and autosomal recessive.</p>
        <div class='row' id='sub-section-x-linked-cgd'>
            <div class='col-md-6'>
                <h3 class='header--h3'>X-linked CGD</h3>
                <p>The most common form of CGD is X-linked. It’s passed down from the mother because she carries a faulty X chromosome. This means she is a carrier of CGD. Usually only males get X-linked CGD. A male born to a carrier mother has a 50% chance of having CGD.</p>
            </div>
            <div class='col-md-6'>
                <img src='/images/misc/genetics-x-linked.svg' alt='X-linked chronic granulomatous disease (CGD), carrier mom and noncarrier dad'/>
            </div>
        </div>
            <hr>
        <div class='row'>
            <div class='col-md-6'>
                <h3 class='header--h3'>Autosomal recessive CGD</h3>
                <p>Both males and females can get autosomal recessive CGD. A child needs 2 copies of a gene that doesn’t work, 1 from each parent, to have autosomal recessive CGD. Any child born of carrier parents has a 25% chance of having autosomal recessive CGD, and a 50% chance of being a carrier.</p>
            </div>
            <div class='col-md-6 img-resize-container' >
                <img src='/images/misc/genetics-ar.svg' alt='Autosomal recessive chronic granulomatous disease (CGD), carrier mom and carrier dad' />
            </div>
        </div>
        <a href='#carrier' class='go-to-section action static bold--a' data-section='carriers'>Learn more about what it means to be a carrier of CGD</a>
    "}
})