@{
    var details = new Dictionary<string, string>() {
        {"soil, mulch", "gardens, house plants"},
        {"woodchips", "playgrounds"},
        {"standing water", "lakes, ponds"},
        {"dust", "new construction"},
        {"dander, dirt", "carpets, pets"},
        {"mold", "barns, sheds, basements, caves"}
    };

    var alts = new String[] {
        "Garden tools in soil ",
        "Woodchips on a playground",
        "Water lilies on a pond",
        "A house being built",
        "A dog&apos;s paw on a carpet",
        "A red barn"
    };

    string images = "";
    int i = 0;
    foreach(KeyValuePair<string, string> detail in details) {
        images += @"
            <li class='col-md-4'>
                <img src='/images/misc/pathogens/" + (i+1) + @".png' alt='" + alts[i++] + @"'/>
                <span class='type'>" + detail.Key + @"</span>
                <span class='examples'>" + detail.Value + @"</span>
            </li>
        ";
    }
}

@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "The problem with pathogens"},
    {"body", @"
        <p>Pathogens include harmful bacteria and fungi that can cause serious, life-threatening infections in people with CGD. A healthy immune system usually prevents infections from becoming serious. But people with CGD are at a greater risk of unusual and repeat infections because their immune system can’t fight them off.</p>
        <p class='p-b-20'>Bacteria and fungi can be found in places all around us:</p>
        <ul class='images row'>" + images + @"</ul>
    "}
})

@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", ""},
    {"body", @"
        <p>Certain times of the year can cause bacteria and fungi to be more plentiful.</p> 
            <ul class='green-ul'>
                <li>Spring: Rain showers can create puddles filled with bacteria</li>
                <li>Summer: Dry weather can lead to more dirt and spores in the air</li>
                <li>Fall: It’s best to avoid hayrides or being around anyone raking leaves</li> 
            </ul>
    "}
})