@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "Signs and symptoms of CGD"},
    {"body", @"
        <p>CGD is usually diagnosed before a child is 5 years old. Some people with milder forms of CGD may not show signs until they are a teen or adult. Common signs and symptoms to look for include:</p>
        <div class='row'>
            <div class='col-md-6'>
                <ul class='green-ul list-as-column'>
                    <li>Serious, sudden, and frequent infections in the lungs (pneumonia), liver, or bones </li>
                    <li>Skin infections that cause boils, blisters, and sores that don’t go away</li>
                    <li>Diarrhea, weight loss, or abdominal pain due to inflammation in the intestines</li>
                    <li>Pain or difficulty eating or going to the bathroom </li>
                </ul>
            </div>
            <div class='col-md-6 list-as-column last-list'>
                <ul class='green-ul'>
                    <li>Vomiting after eating</li>
                    <li>Swollen lymph nodes (These are glands found all over the body, but mostly in the neck, armpits, and groin areas.)</li>
                    <li>Fever, cough, being tired all of the time, or bone and/or joint pain</li>
                </ul>
            </div>
        </div>
        <p>CGD can be misdiagnosed as inflammatory bowel disease (IBD) because the symptoms are similar.</p>
        <a class='bold--a action static' href='/home/StayAheadOfInfections')'>Check out these tips on avoiding places and things that can cause infections</a>
    "}
})