@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .layout--main-nav {
        height: 101px
    }
    .layout--main-nav .navigation li {
        width: 28%
    }
    .layout--hero .hero-text {
        padding-top: 80px
    }
    .navigation-bar .navigation {
        z-index: 1
    }
    .body-content {
        padding-top: 70px
    }
    #isi-toggle-up-button {
        height: 15px
    }
    .layout--cta .cta-container img {
        height: 50px;
        max-width: 100%
    }
    .layout--cta .cta-container h2 {
        max-width: 70%;
        margin: 10px auto
    }
    .layout--cta .cta-container.heading-first img {
        height: 68px
    }
}
