.adapt-all {
  .desktop {
    display: block;
  }
  .mobile, .tablet {
    display: none;
  }

  @include breakpoint(max-width $screen-lg) {
    .tablet {
      display: block;
    }
    .mobile, .desktop {
      display: none;
    }
  }

  @include breakpoint(max-width $screen-sm) {
    .mobile {
      display: block;
    }
    .desktop, .tablet {
      display: none;
    }
  }
}