.adapt {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  @include breakpoint(max-width $screen-sm) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
}