.body-content {
  background: $color--white;
  max-width: $screen-xl;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 1px;

  .content-isi-divider {
    margin: -20px 0 20px !important;
    background-color: #000000 !important;
  }

  @include breakpoint (max-width $screen-lg) {

  }
}