@import "datatable/vars";
@import "datatable/mixins";
@import "datatable/extends";

// @name Datatable
// @description A standard datatable component element with columns at top and categories in first cell of each row.
// @group component
//
// @base .datatable
// @modifier --responsive - Modifies datatable to break into managable display blocks on small devices; requires a [data-label] attributes to be available for each column's data cells
// @modifier --itemized - Modifies datatable to have a summary row
// @modifier - (summary-row) - TR elements that are displayed when in an itemized datatable
//
// @markup
//
// <table class="datatable datatable--itemized datatable--responsive">
//
// 		<thead>
// 			<tr>
// 				<th scope="col">Data</th>
// 				<th scope="col">Group A</th>
// 				<th scope="col">Group B</th>
// 			</tr>
// 		</thead>
// 		<tbody>
// 		<tr>
// 			<td>Likes Vegetables</td>
// 			<td data-label="Group A">18%</td>
// 			<td data-label="Group B">42%</td>
// 		</tr>
//		<tr>
// 			<td>Likes Fruit</td>
// 			<td data-label="Group A">57%</td>
// 			<td data-label="Group B">39%</td>
// 		</tr>
//		<tr class="summary-row">
// 			<td>Total</td>
// 			<td data-label="Group A">75%</td>
// 			<td data-label="Group B">81%</td>
// 		</tr>
//
// </table>
//
.datatable{
  @extend %datatable-generic;
}

.datatable--itemized{
  tr{
	td:first-child,
	th:first-child{
	  @extend .text--sm;
	  text-align : left;
	}
	td:first-child{
	  @extend .text--colored-gray;
	}
	td:nth-child(n + 2){
	  @extend .text--colored-slate;
	}
  }
  
  // bold summary / total rows
  tr.summary-row td:nth-child(n + 2){
	font-family : $font-family--scala-sans-bold;
  }
}

.datatable--responsive{
  @include breakpoint(max-width $screen-sm){
	thead{
	  position : absolute;
	  clip     : rect(0 0 0 0);
	  overflow : hidden;
	  height   : 1px;
	  width    : 1px;
	  border   : none;
	  margin   : -1px;
	  padding  : 0;
	}
	
	tr, td{
	  display : block;
	}
	tr + tr{
	  margin-top : $ad-hoc-space-md;
	}
	td{
	  text-align : right;
	}
	td:before{
	  font-family : $font-family--scala-sans-bold;
	  content     : attr(data-label);
	  float       : left;
	}
	
	&.datatable--itemized{
	  tr.summary-row td:nth-child(n + 2){
		font-family : $font-family--scala-sans-bold-italic;
	  }
	}
  }
}

.datatable--focusable{
  
  tbody tr{
	transition : opacity 100ms ease-out;
  }
  
  &:hover{
	
	tbody tr{
	  
	  //opacity : 0.75;
	  
	  &:hover{
		//opacity          : 1;
		background-color : rgba($color--bermuda, 0.10);
		//cursor           : pointer;
		
		td{
		  @extend .text--colored-onyx;
		}
	  }
	}
  }
}