@import "header/vars";
@import "header/mixins";
@import "header/extends";

//
// @name Header
// @description A standard container to put content, controls colors and dimension.
// @group component
//
// @base .header
// @modifier --<heading-size> [h1,h2,h3,h4,h5,h6] - Simulates a specified heading size with font and line height settings
// @modifier --ruled-<position> [top,right,bottom,left] - Ruled header on a single side
// @modifier --slug - Simulates a small secondary "slug" header useful for placing near a main header
//
// @markup
// <div class="container--colored-soot padding-md">
//    <h1 class="header--h3 header--ruled-bottom">Featured News Headline <span class="header--slug text--colored-white">Last Updated 11/26/15</span></h1>
//    <p>Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
// </div>
//
#{$headers}, .header{
  @extend %header;
}

h1, .header--h1{
  @include font-size( 22px );
  @include line-height( 26px );
  font-weight: normal;
  margin-bottom: 25px;
}
h2, .header--h2{
  @include font-size( 16px );
  @include line-height( 24px );
  font-weight: bold;
  margin-bottom: 25px;
}
h3, .header-h3{
  font-weight:normal;
  @include font-size( 14px );
  @include line-height( 16px );
}
h4, .header--h4{
  @include font-size( $header-size--h4 );
  @include line-height( $header-line-height--h4 );
}
h5, .header--h5{
  @include font-size( $header-size--h5 );
  @include line-height( $header-line-height--h5 );
}
h6, .header--h6{
  @include font-size( 12.5px );
  @include line-height( $header-line-height--h6 );
  font-weight: bold;
}

@each $position in top, bottom, left, right{
  .header--ruled-#{$position}{
    @include header-ruled( $position );
  }
}

.header--slug{
  @extend .blockify;
  @extend .text--sm;
}