.hoverable {
  border: 2px solid $color--clear;

  .hover-container {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $color--poolwater;

    .btn {
      background-color: $color--poolwater;
      border-color: $color--white !important;
      color: $color--white;
    }

    .action {
      text-decoration: underline;
    }
  }
}