/// Generic Datatable Component
///
/// @group datatable
/// @output Generic output style for datatable
@mixin datatable-generic() {
  width          : 100%;
  border-spacing : 0;
  
  th,td{
	padding: $ad-hoc-space-xs;
  }
  
  th{
	@extend .text--sm;
	@extend .text--uppercase;
	@include container-colored(rgba($color--slate, 0.65), $color--white, null, $color--clear);
	transition : background 200ms ease-in-out;
	
	&:hover,
	&.sorted{
	  background-color : $color--slate;
	  cursor           : pointer;
	}
	
	&.sort-asc,
	&.sort-desc{
	  &:after{
		@include triangle(6px, $color--white, 0deg);
		content     : '';
		margin-left : $ad-hoc-space-xs;
	  }
	}
	
	&.sort-asc{
	  &:after{
		transform : rotate(180deg);
	  }
	}
  }
  
  td{
	@extend .text--md;
	border-bottom : $ad-hoc-border-sm solid $color--xlt-gray;
  }
}

/// Datatable Variant
///
/// @group datatable
/// @param {type} $varName [defaultValue] - Description of param 1
/// @output Variant style for datatable
@mixin datatable-variant() {
}
