@{
    ViewBag.title = "Medication for Parkinson’s Tremors | Extrapyramidal Reaction Medication | OSMOLEX ER";
    ViewBag.MetaDescription = "OSMOLEX ER is a prescription medicine for adults to be used as Parkinson’s disease medication or for drug-induced extrapyramidal reactions treatment.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="page--about">
    <div class="layout--content-structure">
        <h1 class="padding-top-md--show-at-md padding-top-md--show-below-md">About OSMOLEX ER</h1>
    </div>
        <div class="layout--content-structure">
            <div class="primary">
                

                <div class="layout--image-details padding-top-md--show-at-md padding-top-md--show-below">
                    <!--div class="image"><img src="" /></div-->
                    <div class="box-holder">
                        @Html.Partial("ImageUL", new ViewDataDictionary(ViewData){
                            {"heading","OSMOLEX ER is a prescription medication used to treat adults with:"},
                            {"items", new string[] {"Parkinson’s disease", "Drug-induced extrapyramidal reactions"}},
                            {"icon","icon-pill.svg"},
                            {"alt","pills  for Parkinson’s disease | medication for eps | OSMOLEX ER "},
                            {"note","It is not known if OSMOLEX ER is safe and effective in children."}
                        })
                    </div>
                     <div class="box-holder">
                        @Html.Partial("ImageUL", new ViewDataDictionary(ViewData){
                            {"heading","Parkinson’s Disease"},
                            {"items", new string[] {"Parkinson's disease is the second most common neurodegenerative disorder after Alzheimer’s disease", "Symptoms include tremor or shaking, rigidity or stiffness, extreme slowness of movement, and impaired balance","Approximately 60,000 people are diagnosed with Parkinson’s disease in the United States every year","An estimated 1 million people in the United States have the disease"}},
                            {"icon","icon-group.svg"},
                            {"alt","tablets  for Parkinson’s disease | drugs for Parkinson’s disease  | OSMOLEX ER "}
                        })
                    </div>
                     <div class="box-holder">
                        @Html.Partial("ImageUL", new ViewDataDictionary(ViewData){
                            {"heading","Drug-Induced Extrapyramidal Reactions"},
                            {"items", new string[] {"Characterized by intermittent or sustained involuntary movements in the face, neck, trunk, pelvis, extremities, and/or larynx", "Are reversible effects to the nerves associated with motor activity","Occur after the administration of certain medications, such as: antipsychotics, gastrointestinal motility drugs, calcium channel blockers, and anti-epileptic drugs","Symptoms can begin immediately after administration or be delayed by hours or days","Are rarely life-threatening, but can cause distress for patients and their families"}},
                            {"icon","icon-brain.svg"},
                            {"alt","treatment for eps symptoms | extrapyramidal drugs | OSMOLEX ER "}
                        })
                    </div>
                </div>
            </div>
            <div class="secondary padding-top-md--show-at-md padding-top-md--show-below-md">
                @Html.Partial("note", new ViewDataDictionary(ViewData){
                    {"text", @"
                        <h2>Key features</h2>
                        <ul>
                            <li>OSMOLEX ER has a unique drug-delivery system that delivers amantadine throughout the day</li>
                            <li>OSMOLEX ER is taken once daily in the morning</li>
                        </ul>
                    "}
                })
                <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
                @Html.Partial("note", new ViewDataDictionary(ViewData){
                    {"text", @"
                        <p>The exact cause of Parkinson's disease is unknown; however, research has identified several genes that can cause rare inherited forms of Parkinson's disease and other genes that influence age of onset and susceptibility.</p>
                    "}
                })
            </div>
        </div>

        <div class="layout--content-structure">
            <div class="primary">
                <h1>Osmodex<sup>&reg;</sup> Drug Delivery System</h1>
                <h6><strong>OSMOLEX ER has a unique drug-delivery system that delivers amantadine throughout the day.</strong></h6>
                <p>OSMOLEX ER contains amantadine in an immediate-release outer layer and an extended-release core that is delivered using the Osmodex<sup>&reg;</sup> Drug Delivery System.*</p>
            </div>
        </div>
        <div class="layout--content-structure">
            <div class="primary">
                    @Html.Partial("Video", new ViewDataDictionary(ViewData){
                        {"video-url", "https://player.vimeo.com/external/293179130.sd.mp4?s=cbb0ad9a7d5b951f15de1325d9735ed700588d64&profile_id=165"},
                        {"poster","vid-thumb.jpg"},
                        {"alt","OSMOLEX ER | extended release tablets for Parkinson’s disease and extrapyramidal reactions"}
                    })
            </div>
            <div class="secondary">
                @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
                    {"types", new string[] {"cta2"}}
                })
            </div>
        </div>

        <div class="layout--content-structure">
            <div class="primary">
                <p><sup>*</sup>The biologically inert components of the tablet remain intact during gastrointestinal transit and are eliminated in the stool as a tablet shell.</p>
                @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
                    {"src", "/images/misc/pill-illustration.png"},
                    {"alt","tablets for Parkinson’s disease | extrapyramidal disease drugs | OSMOLEX ER"}
                })
            </div>
            <!--div class="secondary">
                @Html.Partial("note", new ViewDataDictionary(ViewData){
                    {"text", "<p>note text goes here</p>"}
                })
            </div-->
        </div>
</div>
