@{
    ViewBag.title = "Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER";
    ViewBag.MetaDescription = "AccessOsmolex is a support services program for those using OSMOLEX ER for the treatment of Parkinson’s disease or drug-induced extrapyramidal reactions.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="layout--content-structure">
    <img src="/images/misc/cta/cta1.svg" width="150" alt="Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER"/>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    <h1>Getting Started With OSMOLEX ER<sup>&trade;</sup> (amantadine) Extended-release Tablets</h1>
    <p>If your doctor prescribes OSMOLEX ER, you will be enrolled in AccessOsmolex, a support services program specifically designed to help you access your prescription.</p>
    <ul>
        <li>Once you are enrolled, the AccessOsmolex team will contact you to discuss services and financial support options.</li>
        <li>AccessOsmolex can provide information on a variety of payment support services, no matter what type of insurance you have. </li>
        <li>Your AccessOsmolex team can help you figure out which program is right for you.</li>
    </ul>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    <p>If you have already been prescribed OSMOLEX ER and have questions about your prescription, call the AccessOsmolex Support Center at <a href="tel:1-833-676-6539" target='_blank' class="text-nowrap"><strong>1-833-OSMOLEX (1-833-676-6539)</strong></a>.</p>
</div>

<hr class="content-isi-divider">