@{
    ViewBag.title = "Medical Management of Parkinson’s Disease | Extrapyramidal Treatment Guidelines | OSMOLEX ER";
    ViewBag.MetaDescription = "OSMOLEX ER is an extended release tablet used for management of extrapyramidal symptoms and as a Parkinson’s disease treatment. Get dosing information here.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="layout--content-structure">
    <div  class="layout--alt-hero dosing">
        <img src="/images/hero/hero-patient.jpg"  class="visible-lg" alt="medications used to treat Parkinson’s disease | extrapyramidal effects treatment | OSMOLEX ER"/>
    </div>
    <div class="primary">
        <h1>The OSMOLEX ER Difference</h1>
        <ul>
            <li>OSMOLEX ER has a unique drug-delivery system that delivers amantadine throughout the day</li>
            <li>With OSMOLEX ER, amantadine levels in the blood are higher during waking hours and lower during the night</li>
            <li>OSMOLEX ER is taken once daily in the morning</li>
        </ul>
        <h6><strong>Flexibility</strong></h6>
        <p>OSMOLEX ER is available in multiple dosing options, however, the recommended starting dose is 129 mg. Ask your doctor which dosing option is best for you.</p>
    </div>
    <div class="secondary">
        @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
            {"types", new string[] {"cta1"}}
        })
    </div>
</div>
<div class="layout--content-structure">
    <div class="primary">
        @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
            {"src", "/images/misc/tablet-quad.png"},
            {"alt","tablets for Parkinson’s disease | extrapyramidal disease drugs | OSMOLEX ER"},
            {"note","Not actual tablet size."}
        })

        <p>Not actual tablet size.</p>
    </div>
</div>
<div class="layout--content-structure" id="administration">
   <h6><strong>Administration</strong> </h6>
   <ul>
        <li>Take OSMOLEX ER exactly as your doctor tells you </li>
        <li>Start OSMOLEX ER with 1 tablet in the morning. Your doctor may change your dose if needed</li>
        <li>Do not stop taking OSMOLEX ER or change your dose before talking with your doctor. Tell your doctor if you have symptoms of withdrawal such as fever, confusion, or severe muscle stiffness</li>
        <li>OSMOLEX ER may be taken with food or without food</li>
        <li>Swallow OSMOLEX ER tablets whole. Do not chew, crush, or divide OSMOLEX ER tablets</li>
        <li>If you miss a dose of OSMOLEX ER, do not make up the missed dose. Take your usual dose of OSMOLEX ER on the next day in the morning</li>
        <li>If you take too much OSMOLEX ER, call your doctor or go to the nearest hospital emergency room right away</li>
        <li>OSMOLEX ER should not be used instead of other immediate-release amantadine medicines or other extended-release amantadine medicines</li>
        <li>The OSMOLEX ER tablet shell does not dissolve completely even after all the drug has been released. The tablet shell may be seen in your stool </li>
    </ul>
</div>