﻿@{
    ViewBag.title = "Osmolex";
    ViewBag.MetaDescription = "";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}

@Html.Partial("Content", new ViewDataDictionary(ViewData){
    {"heading", "Oops"},
    {"heading-type", "h1"},
    {"body", 
    @"
    <p>Sorry, the page you’re looking for doesn’t exist or isn’t available at the moment. Hit your back button or return <a href='/'>home</a>.</p>
    "}
})

<div style="display: block; height: 100px"></div>
