@{
    ViewBag.title = "How to Help Parkinson’s Disease | Parkinson’s Disease Resources | OSMOLEX ER";
    ViewBag.MetaDescription = "Resources to support the Parkinson’s Disease community, including those diagnosed with parkinsonism, their caregivers, families, friends, and healthcare providers.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="page--resources">
    <div class="layout--content-structure">
            <div  class="layout--alt-hero resources">
                <img src="/images/hero/hero-patient-resources.jpg" class="visible-lg" alt="resources for Parkinson’s disease | Parkinson’s disease information"/>
            </div>
            <h1>Resources</h1>
            <h6>There are many organizations focused on research, advocacy, care, and support for the Parkinson's disease community. These include national nonprofits, medical and research centers, government agencies, regional support groups, and advocacy groups. Each has its own special focus, but all share the common goals of improving the lives of those affected by Parkinson's disease and someday finding a cure.</h6>
            <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
            <h6>What is the mission of advocacy groups for the Parkinson's disease community?</h6>
            <p>Such groups provide support and information to the Parkinson’s disease community, including those who have been diagnosed with Parkinson's disease or parkinsonism, and their caregivers, families, friends, and healthcare providers.</p>
    </div>
    <div class="layout--content-structure">
        <div class="primary">
            <ul class="resources-ul">
                <li><a href="https://www.apdaparkinson.org/" target="_blank">The American Parkinson Disease Association</a></li>
                <li><a href="http://www.dystonia-parkinsons.org/" target="_blank">The Bachmann-Strauss Dystonia & Parkinson’s Foundation</a></li>
                <li><a href="https://www.davisphinneyfoundation.org/" target="_blank">The Davis Phinney Foundation</a></li>
                <li><a href="https://www.michaeljfox.org/" target="_blank">The Michael J. Fox Foundation for Parkinson's Research.</a></li>
                <li><a href="http://www.parkinson.org/" target="_blank">The Parkinson’s Foundation</a></li>
                <li><a href="http://www.parkinsonalliance.org/" target="_blank">The Parkinson’s Alliance</a></li>
                <li><a href="https://www.parkinsons.va.gov/" target="_blank">The Veteran’s Affairs Parkinson’s Disease Research, Education, and Clinical Centers</a></li>
                <li><a href="https://www.partnersinparkinsons.org/partners-in-parkinsons-news/Parkinson's-Organizations-Unite-to-Serve-Patients-and-Families-Through-National-Partners-in-Parkinson's-Initiative" target="_blank">Partners in Parkinson's</a></li>
            </ul>
        </div>
        <div class="secondary">
            @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
                {"types", new string[] {"cta2","cta1"}}
            })
        </div>
    </div>
</div>