@{
    ViewBag.title = "Osmolex";
    ViewBag.MetaDescription = "";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}

@Html.Partial("Content", new ViewDataDictionary(ViewData){
    {"heading", "Site Map"},
    {"body",
    @"
     <ul>
        <li><b><a href='/'>Home Page</a></b></li>
        <li><b><a href='/about-chronic-granulomatous-disease'>CGD Basics</b></li>
        <li><b><a href='/life-with-chronic-granulomatous-disease'>Life With CGD</b></li>
            <ul> 
                <li><a href='/life-with-chronic-granulomatous-disease/reducing-caregiver-stress'>Reducing Caregiver Stress</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/healthy-home-tips'>Healthy Home Tips</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/success-at-school'>Success at School</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/cgd-and-career'>CGD and Career</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/travel-made-easy'>Travel Made Easy</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/cgd-carriers'>Carrier Connections</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/help-to-prevent-infections'>Help to Prevent Infections</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/hospital-tips'>Hospital Tips</a></li>
                <li><a href='/life-with-chronic-granulomatous-disease/iep-vs-504-plan'>IEP vs 504 Plan</a></li>                    
            </ul>
        <li><span>Treating CGD</span></li>
            <ul>
                <li><a href='/actimmune'>ACTIMMUNE (Interferon gamma 1-b)</a></li>
                <li><a href='/bone-marrow-transplant'>Bone Marrow Transplant</a></li>
                <li><a href='/getting-the-best-care'>Getting the Best Care</a></li>
            </ul>
        <li><span>Get Support</span></li>
            <ul>
                <li><a href='/chronic-granulomatous-disease-support'>CGD Support</a></li>
            </ul>
        <li><b><a href='/keep-connected'>Keep Connected</a></b></li>
        <li><a href='https://hznp.azureedge.net/public/important-safety-information-actimmune.pdf' target='_blank'>Important Safety Information</a></li>
        <li><a href='https://hznp.azureedge.net/public/prescribing-information-actimmune.pdf' target='_blank'>Prescribing Information</a></li>
        <li><a href='https://hznp.azureedge.net/public/information-for-the-patient-caregiver-actimmune.pdf' target='_blank'>Information for the Patient/Caregiver</a></li>
     </ul>
    "}
})