﻿@{
    ViewBag.title = "Osmolex";
    ViewBag.MetaDescription = "";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}

@Html.Partial("Social", new ViewDataDictionary(ViewData) {
    {"name", "Title"},
    {"description", "Description"},
    {"tweet", "Tweet text"},
    {"emailSubject", "subject"},
    {"emailBody", "Hi there, %0D%0D Line 1. %0D%0D Line 2. %0D%0D Line 3. %0D%0D Line 4."}
})

@Html.Partial("Video", new ViewDataDictionary(ViewData){
    {"heading", "How to reduce caregiver stress"},
    {"heading-type", "h1"},
    {"video-id", "224115970"},
    {"transcript", @"
        <p>My biggest getaway for me when, you know, when I just needed a break or whatever, I would go to my mom cave and paint. I like to paint. I did a lot of painting, and I actually wrote a book about painting. That’s my thing. I like art. I think it is really good to have something you can do, where you can see an accomplishment. If it’s knitting or you know, reading or taking pictures or whatever it is.</p> 
 
        <p>One of the things that I would do to just take time away would be to swim. We always had a pool available. A chlorinated pool for Dustin to swim. And even if Dustin was in the pool, exercising in general will take stress off of you. You can walk with your child. Push him in a stroller. It’s not getting away from the illness or the child. It’s letting your body release that tension that you’re building up, regardless if it’s with your child or without.</p>  
        
        <p>I’m a carrier, and I sometimes forget that I need to take time off and just, even if it’s just going down for a cup of coffee by myself or just enjoying some time by myself, cause everything’s about the kids. 24/7. So my advice to myself and to all the other moms who are carriers is take some time for yourself. Don’t feel guilty because at the end of the day, the kids are fine. They’re doing good. So why not take, you know, an hour a day and just enjoy it for yourself.</p> 
    "}
})

@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", ""},
    {"body", 
    @"
        <p>Being a caregiver means you are greatly impacted by chronic granulomatous disease (CGD). As you learn to adjust your routines and everyday living to help keep your loved one safe, it’s natural to feel overwhelmed and stressed at times. Hear from other caregivers as they share their experiences and helpful tips about finding balance and managing life with CGD.</p>
    "}
})

@Html.Partial("CardsCTA")

@Html.Partial("cta-set", new ViewDataDictionary(ViewData){
    {"types", new string[] {"cta1", "cta2"}}
})

@Html.Partial("SignupCTA")