// MIXINS

@mixin nav-generic() {
  position : relative;
  
  > li{
	transition : background-color 300ms ease-in-out, color 300ms ease-in-out;
	
	> a, > label{
	  transition : background-color 300ms ease-in-out, color 300ms ease-in-out;
	  display    : inline-block;
	  cursor     : pointer;
	}
  }
}

@mixin nav-variant-color(
  
  $linkColor:             map_get( $nav--defaults, 'link-color' ),
  $linkHoverColor:        map_get( $nav--defaults, 'link-hover-color' ),
  $linkBgcolor:           map_get( $nav--defaults, 'link-bgcolor' ),
  $linkHoverBgcolor:      map_get( $nav--defaults, 'link-hover-bgcolor' ),

  $activeColor:           map_get( $nav--defaults, 'active-link-color' ),
  $activeHoverColor:      map_get( $nav--defaults, 'active-link-hover-color' ),
  $activeBgcolor:         map_get( $nav--defaults, 'active-link-bgcolor' ),
  $activeHoverBgcolor:    map_get( $nav--defaults, 'active-link-hover-bgcolor' ),

  $disabledColor:         map_get( $nav--defaults, 'disabled-link-color' ),
  $disabledHoverBgcolor:  map_get( $nav--defaults, 'disabled-link-hover-bgcolor' ),

  $border-segment-color:  $color--clear) {
  
  > li{
	border-color : $border-segment-color;
	background   : $linkBgcolor;
	
	> a, > label{
	  @include transition(all, 200ms, ease-in-out);
	  color           : $linkColor;
	  white-space     : nowrap;
	  
	  &:hover, &:focus{
		color      : $linkHoverColor;
		background : none;
	  }
	}
	
	&:hover, &:focus{
	  background-color : $linkHoverBgcolor;
	}
	
	&.active, &.selected, &.is-active, &.is-selected{
	  background-color : $activeBgcolor;
	  
	  > a, > label{
		color : $activeColor;
	  }
	  
	  &:hover, &:focus{
		color            : $activeHoverColor;
		background-color : $activeHoverBgcolor;
	  }
	}
	
	&.disabled, &.is-disabled{
	  > a, > label{
		color : $disabledColor;
	  }
	  
	  &:hover, &:focus{
		background-color : $disabledHoverBgcolor;
	  }
	}
  }
}

@mixin nav-variant-size(
  
  $padding:   map_get( $nav--defaults, 'link-padding' ),
  $font-size: $font-size--md ) {
  
  > li > a,
  > li > label{
	@include font-size($font-size);
	padding : $padding;
  }
}