.layout--callout {
  @extend .container-sm;
  background-color: $color--lt-gray;
  padding: $ad-hoc-space-md;

  &.with-heading {
    display: table;

    h2 {
      display: table-cell;
      vertical-align: middle;
      padding: 0 $ad-hoc-space-lg;
      color: $color--teal;
      @include font-size(20px);
    }

    p {
      display: table-cell;
    }
  }

  p {
    @include font-size(15px);
    @include line-height(24px);
    font-weight: bold;
    color: $color--teal;
  }

  .word-wrap {
    white-space: pre;
  }

  @include breakpoint(max-width $screen-sm) {
    h2 {
      display: block !important;
      padding: 0 !important;
    }

    p {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: 0px;
      display: block !important;
    }
  }
}