.layout--content {
  @extend .container;

  #{$headers} {
    color: $color--xdk-gray;
  }

  .body {
    p a {
      font-family: inherit;
    }
  }

  .footnote {
    font-size: 1.0rem;
  }

  &.with-image {
    .body {
      float: left;
      width: 60%;
    }
    img { 
      width: 40%;
      padding-left: 25px;
    }
  }

  .mobile {
    width: 100%;
  }

  li > span {
    font-family: Montserrat;
    font-weight: 700;
  }

  .page--504-h3 {
    text-align: center;
  }

  @include breakpoint(max-width $screen-sm) {
    .page--504-h3 {
      text-align: left;
    }
    h1 {
      line-height: 2.5rem !important;
    }
    &.with-image {
      .body {
        width: 100%;
      }
      img { 
        width: 100%;
        padding-left: 0px;
      }
      .image .mobile {
        margin: 0;
      }
    }
  }

}
