.layout--content-structure {
  @extend .container;
  @extend .row;

  >.container {

  }
  .btn {
    //display: initial;
    padding:10px 20px 10px 20px;
    //height: 35px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: $color--white;
    text-decoration: none;
    border-radius: 0px;
  }
  
  .btn-primary {
    display:block;
    max-width:260px;
    white-space: initial;
    background-color: $color--white;
    color: $color--blue;
    border-color: $color--blue;
    margin-right: $ad-hoc-space-sm;
    &:hover {
      background-color: $color--blue;
      color: $color--white;
      border-color: $color--blue;
    }
  }
  .primary {
    @extend .col-lg-8;
    padding-left:0px;
    padding-right: 0px;
    img {
      max-width: 100%;
    }
  }

  .secondary {
    @extend .col-lg-4;
    padding-left:0px;
    padding-right: 0px;

    .layout--note {
      margin-left: auto;
      margin-right: 0;
    }
    .layout--cta {
      align-self: flex-end;
    }
  }

  @include breakpoint(max-width $screen-sm) {
    p:last-child {
      margin-bottom: 0;
    }

    .secondary {
      padding-top: 25px;
    }
  }
}