.layout--cta {
  @extend .bordered-box;
  width: 225px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
  }

  img {
    max-width: 75%;
    margin-bottom: 10px;
  }


  h2 {
    @include font-size(14px);
    @include line-height(20px);
    color: $color--blue;
    font-weight: bold;
    margin: 0 0 10px 0;

    text-align: center;
  }
  p {
    color: $color--black;
  }
  .action {
    @extend .bordered-box;
    padding: 7px 20px;
    color: $color--blue;
    text-transform: uppercase;
    &:hover{
      background-color: $color--blue;
      color: $color--white;
    }
  }
  .group .action {
    display: none;
  }
  .heading-first {
    h2 {
      order: 0;
    }
    img {
      order: 1;
      max-width: 50%;
    }
    .action {
      order: 2;
    }
  }

  @include breakpoint(max-width $screen-lg) {
    width: 100%;
    height: auto !important;

    .cta-container {
      width: 100%;
    }

    .adapt-all {
      display: none;
    }

    .content {
      width: 100%;
      left: 0;
      vertical-align: top;
      padding: $ad-hoc-space-md !important;
    }

    &.right {
      float: none;
    }

    .heading-first {
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 45%;
      }

      .group {
        width: 50%;
        order: 2;

        .action {
          display: block;
          text-align: center;
        }
      }

      .action {
        display: none;
      }
    }
  }
}