.layout--expanded-image {
  .modal-content {
    background-color: $color--lt-gray;
    border-radius: 0;
  }

  img {
    width: 100%;
  }

  .modal-header {
    border-bottom: 0;
    padding: 0;
  }

  .close {
    position: absolute;
    right: 10px;

    color: $color--blue;
    opacity: 1;

    font-weight: normal;
    @include font-size(60px);

    z-index: 2;
  }

  @include breakpoint(min-width ($screen-sm)) {
    .modal-dialog {
      width: $screen-sm;
    }

    .modal-body {
      padding: 55px;
    }
  }
}