.layout--file-cta {
  @extend .container-sm;
  padding: $ad-hoc-space-md 2*$ad-hoc-space-md;
  background-color: $color--lt-gray;
  display: block;
  text-decoration: none !important;

  @extend .hoverable;

  .icon-container {
    display: inline-block;
    vertical-align: top;
  }

  .icon {
    vertical-align: top;
    position: relative;
    top: $ad-hoc-space-sm;
    margin-right: $ad-hoc-space-md;
  }

  .content {
    display: inline-block;
    width: 55%;

    p {
      color: $color--black;
      text-decoration: none;
    }
  }

  .image {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -2*$ad-hoc-space-md;
    margin-bottom: -2*$ad-hoc-space-md;
    width: 175px;
  }

  .action {
    text-decoration: none !important;

    &:after {
      display: none;
    }
  }

  @include breakpoint(max-width $screen-lg) {
    height: 188px;

    .image {
      float: right;
    }
  }

  @media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
    margin: 21px 0 36px 0;
  }

  @include breakpoint(max-width $screen-sm) {
    height: auto !important;
    display: table;
    padding: 0;
    border: 0;

    .icon-container {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background-color: $color--poolwater;
      padding: $ad-hoc-space-sm;

      .icon {
        top: 0;
        margin: 0;

        &.mobile {
          display: inline;
        }
      }
    }

    .content {
      padding: $ad-hoc-space-md;
      width: auto;
    }

    p {
      display: none;
    }

    .image {
      display: none;
    }

    .btn {
      background-color: transparent !important;
      border: none !important;
      padding: 0;
      white-space: normal;
      text-align: left;

      &.action:after {
        display: inline-block;
      }
    }
  }
}