.layout--footer{
  background-color: $color--blue;
  padding-top: $ad-hoc-space-lg;
  padding-bottom: $ad-hoc-space-md;
  margin-top: $ad-hoc-space-lg;
  //max-width: $screen-xl;
  margin: 0 auto;

  .utility-nav{
    padding-left  : $ad-hoc-space-md;
    margin        : auto (-1 * $ad-hoc-space-md);
    border-bottom : $ad-hoc-border-sm solid map-deep-get($nav--color-sets, 'bedrock', 'border-segment-color');
  }
  .info-nav{
    padding: 30px 0 0 0;
    margin:0 -6px 0 0;
    li{
      color:$color--white;
      border-right: 1px solid $color--white;
      display: inline;
      list-style-type: none;
      padding:0px 10px 0px 10px;
      margin:-3px;
      a{
        color: $color--white;
      }
      li.active, li:hover{
        a{
          color: $color--white;
          text-decoration: none;
        }
      }
    }
    li:last-of-type {
      border-right: none;
    }
  }
  .navigation{
    @extend .navigation--inline;
    @extend .navigation--segmented;
    @extend .navigation--white;
    @include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-sm, 9px);
    margin : 0;
    padding: $ad-hoc-space-md 0;

    li:first-child a {
      padding-left: 0;
    }

    li a {
      color: $color--white;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 12px;
      font-size: 1rem;
    }
  }
  
  .data-sponsor{
	  text-align : center;
  }

  .main {
    @extend .container-xl;
  }

  .logo {
    width: 240px;
    display: inline-block;
  }

  .mobile-horizon-logo {
    display: none;
  }
  .logo-right{
    img{
      margin-top:30px;
    }
  }
  .logo-left, .logo-right{
    padding-left:0px;
    padding-right:0px;
  }
  .footer-info{
    clear:both;
    p{
      color:$color--white;
      margin:0;
    }
    .text-left,.text-right{
      padding-left:0px;
      padding-right:0px;
    }
  }
  .link-sets {
    display: inline-block;
    vertical-align: top;
    padding-left: 2*$ad-hoc-space-md;

    .link-set {
      padding: 0;
      @include column-count(2);

      li {
        list-style: none;
        line-height: 2.5rem;
        padding-right: 3*$ad-hoc-space-sm;
        @include font-size(10px);
      }

      a {
        color: $color--poolwater;
      }
    }
  }

  .legal {
    background-color: $color--lt-gray;
    padding-top: $ad-hoc-space-sm;
    padding-bottom: $ad-hoc-space-md;

    .horizon-logo {
      width: 15%;
      display: inline-block;
    }

    .container {
      margin-bottom: 0;
      p {
          @include font-size(10px);
          font-family: Montserrat;
          line-height: 1.4rem;
          color: $color--dk-gray;
        }
    }

    .more {
      margin-top: $ad-hoc-space-md;
    }

    .more div {
      display: inline-block;
      width: 84%;
      padding-bottom: 5%;
      padding-left: 5%;
      vertical-align: top;
      p {
        margin-bottom: 0px;
      }
    }

  }
  
  @include breakpoint(max-width $screen-xs-max){
	
	.utility-nav{
	  padding-left: 0;
	}
	
	.navigation{
	  margin:auto;
	}
	.site-notes,
	.data-sponsor{
	  text-align : center;
	}
  }
  
  @include breakpoint(max-width ($screen-lg)){
    width: 100%;

    .logo {
      display: block;
      margin: $ad-hoc-space-md auto;
    }

    .link-sets {
      padding: 0;
      display: block;

      .link-set {
        column-count: 1;
        text-align: center;
        border-top: 1px solid $color--lt-gray;

        li {
          border-bottom: 1px solid $color--lt-gray;
          padding-right: 0;
        }
      }
    }
    .footer-info{
      .info-nav{
        padding-top: 10px;
        li{
          display:inherit;
          border-right:none;
        }
      }
      .info-nav,p{
        text-align:center;
      }
    }

    .navigation {
      width: 330px;
      padding: 0;
      padding-top: $ad-hoc-space-sm;
      margin: 0 auto;

      li a {
        white-space: normal;
        text-align: center;
        line-height: 12px;
      }
    }

    .mobile-horizon-logo {
      display: block;
      width: 132px;
      margin: 10px auto 20px;
    }

    .more {
      & a {
        display: none;
      }
      & div {
        width: 100% !important;
        padding-left: 0px !important;
        margin-top: -10px !important;
      }
    }


  }

}