.layout--form {
    width: 5 * $ad-hoc-space-xl;
    margin: 0 auto;
    background-color: $color--white;

    .body > div, .subscribe-snail-mail > div {
        margin-top: $ad-hoc-space-md;
        margin-bottom: $ad-hoc-space-md;
    }

    label, form > div h3 {
        @extend label;
        margin: 0;
        margin-left: $ad-hoc-space-xs;
        color: $color--slate;
        @include font-size(12px);
        line-height: 1.5rem;
    }

    input[type=text], input[type=email], input[type=tel], select {
        border: 1px solid $color--lt-gray;
        display: block;
        width: 100%;
        height: 35px;
    }

    legend, fieldset li label, .choices label {
        @extend p;
        font-weight: normal;
        color: $color--slate;
    }

    legend {
        border-bottom: 0;
    }

    fieldset input[type=checkbox] {
        vertical-align: top;
    }

    .instructions {
        font-weight: bold;
        display: block;
        margin-top: $ad-hoc-space-sm;
    }

    .choices {
        margin-top: $ad-hoc-space-md;
        margin-bottom: 0;
    }

    .choices label {
        display: inline-block;
    }

    .choices > li {
        margin-bottom: $ad-hoc-space-md;
        position: relative;
        left: 40px;
    }

    .field-validation-error {
        color: #FF0000;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    .subscribe-snail-mail {
        display: none;
    }

    .confirm {
        position: relative;
        left: 40px;
    }

    [type="radio"] + span::before, [type="checkbox"] + span::before {
        content: "";
        display: inline-block;
        width: 1.75em;
        height: 1.75em;
        position: absolute;
        top: 5;
        left: -40px;
        border: 2px solid $color--poolwater;
        border-radius: 0.875em;
        background-color: $color--white;
    }

    [type="radio"]:checked + span::before, [type="checkbox"]:checked + span::before {
        border: 7px solid $color--poolwater;
    }

    .choices [type="radio"], .choices [type="checkbox"] {
        position: absolute;
        visibility: hidden;
    }

    @include breakpoint(max-width $screen-sm) {
        width: 100%;
        padding-left: $ad-hoc-space-md;
        padding-right: $ad-hoc-space-md;

      label {
        margin-left: 0;
      }
    }
}
