.switch-patients {
    text-align:right;
    background-color: $color--lt-gray;
    border: 1px solid $color--dk-gray;
    .container{
        margin-bottom:0px;
    }
    .gray-ul {
        margin-top:10px;
        margin-bottom:5px;
        li {
            padding:20px 10px 10px 10px;
            display: inline;
						list-style-type: none;
						a{
							color: $color--xdk-gray;
							text-decoration: none;
							&:hover{
								color: $color--blue;
							}
						}
        }

        li.active{
            background-color: $color--white;
						border-left:1px solid $color--dk-gray;
						border-right:1px solid $color--dk-gray;
						a{
							color: $color--blue;
						}
        }
		}
		.info-nav-mobile{
			padding: 10px 0 10px 0;
			margin: 0;
			text-align: center;
				li{
					border-right: 1px solid $color--dk-gray;
					display: inline;
					list-style-type: none;
					padding:0px 10px 0px 10px;
					margin:-3px;
					a{
						color: $color--xdk-gray;
					}
					&.active, &:hover{
						a{
							color: $color--blue;
							text-decoration: none;
						}
					}
					&:last-child{
						border-right:none;
					}
				}
				@include breakpoint(max-width ($screen-xs)){
						li{
						//	display:block !important;
						//	border-right:none !important;
						font-size: 1rem;
						}
				}
				@media only screen and (max-width: 340px) {
						li{
							display:block !important;
							border-right:none !important;
						}
				}
	}
}


.layout--header{
  @extend .container--colored-white;
  border-radius : $default-border--radius $default-border--radius 0 0;
  
  .branding{
	display : table;
	width   : auto;
	
	h1, h2{
	  display : table-cell;
	  padding : 30px $ad-hoc-space-sm;
	}
	
	h1{
	  padding-left : 0;
	}
	
	h1 + h2{
	  border-left : $ad-hoc-border-sm solid $default-color--border;
	}
  }
  
  .accounting{
	display : table;
	width   : 100%;
	
	.account-welcome,
	.account-links{
	  display : table-cell;
	  
	  @include for-phone-only(){
		display : block;
	  }
	}
	.account-menu-toggle{
	  display : none;
	  width   : 30px;
	  
	  label{
		margin      : 0;
		padding     : $ad-hoc-space-xs $ad-hoc-space-sm;
		line-height : 1em;
	  }
	}
	
	.account-welcome{
	  @extend .text--sm;
	  @extend .text-right;
	  padding : $ad-hoc-space-xs $ad-hoc-space-sm;
	}
	
	.navigation{
	  @extend .navigation--inline;
	  @extend .navigation--segmented;
	  @extend .navigation--bedrock;
	  @include nav-variant-size($ad-hoc-space-sm, 9px);
	  width  : 100%;
	  margin : 0;
	  
	  @include for-tablet-landscape-up(){
		li:first-child{ border-bottom-left-radius : $default-border-radius; }
		li:last-child{ border-bottom-right-radius : $default-border-radius; }
	  }
	  
	  a{ font-weight : bold; }
	}
  }
  
  .quicksearch{
	@extend .padding-md-top;
	@extend .text-right;
  }
  
  /* FOR TABLETS... */
  @include breakpoint($screen-md $screen-md-max){
	.accounting{
	  display         : flex;
	  overflow        : hidden;
	  flex-wrap       : wrap;
	  justify-content : space-between;
	  
	  .account-welcome{ order : 1; @include flex(0, 0, 100%); }
	  .account-links{ order : 0; @include flex(0, 0, 60%); margin-left : 40% }
	}
  }
  
  /* FOR TABLET PORTRAIT AND DOWN... */
  @include breakpoint(max-width $screen-sm-max){
	
	.branding{
	  
	  h1, h2{ padding : 40px $ad-hoc-space-sm 0; }
	  
	  h2{ padding-right : 0; }
	}
	
	.accounting{
	  width    : auto;
	  display  : inline-block;
	  position : absolute;
	  top      : -106px;
	  right    : 0;
	  
	  .account-welcome{
		display : none;
	  }
	  
	  .account-menu-toggle{
		display : table-cell;
		
		label.btn{
		  border-top              : none;
		  border-top-left-radius  : 0;
		  border-top-right-radius : 0;
		}
	  }
	  
	  .account-links{
		position : relative;
		
		.navigation{
		  visibility : none;
		  position   : absolute;
		  left       : -80px;
		  top        : 45px;
		  width      : 150px;
		  transition : opacity 300ms ease-out;
		  opacity    : 0;
		  @include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-sm, 9px);
		  
		  li{
			display    : none;
			text-align : left;
		  }
		  
		  li:first-child{
			border-top-left-radius  : $default-border-radius;
			border-top-right-radius : $default-border-radius; }
		  li:last-child{
			border-bottom-left-radius  : $default-border-radius;
			border-bottom-right-radius : $default-border-radius; }
		}
	  }
	  
	  #account-menu-toggle:checked + .account-links .navigation{
		display    : table;
		opacity    : 1;
		visibility : visible;
		
		li{ display : block; }
	  }
	}
	
	.quicksearch{
	  border-top : $ad-hoc-border-sm solid $default-color--border;
	  text-align : center;
	  
	  label{ @include font-size(10px); }
	  
	  input{ display : inline-block; width: 50%; }
	}
  }
  
  @include breakpoint(max-width ($screen-xs - 1)){
	border-radius : 0;
  }
}