.layout--hero {
  @include container-variant(0,0);
  //position: relative;
  overflow: hidden;
  height: 397px;
  width: auto;
  background-color: $color--white;
  margin: 0 auto;

  .content {
    display:block;
    position: absolute;
    top: -45px;
    left: 250px;
    width: 350px;
    height: 350px;
   // border-radius: 200px;
   // border: 7px solid $color--white;
   // background-color: $color--teal;
    padding: 2.5*$ad-hoc-space-md $ad-hoc-space-md;
    text-align: center;

    h1 {
      margin-top: 20px;
      color: $color--white;
      @include font-size-height(30px);
      font-weight: bold;
      letter-spacing: 3px;
    }

    h2 {
      color: $color--white;
      @include font-size-height(13px);
      font-weight: bold;
    }

    p {
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: $color--white;
      margin: 20px 5px;
    }
  }
  .hero-text{
    padding-top:30px;
    width: 290px;
    text-align: center;
  }
  .note{
    width:290px;
    color: $color--white;
    padding-top:30px;
  }
  .attribution {
    display:none;
    position: absolute;
    top: 70px;
    left: 1080px;
    width: 80px;
    color: $color--white;
    @include font-size(12px);
    @include line-height(14px);
    font-family: Montserrat;

    .name, .role {
      font-weight: bold;
      text-shadow: 0 0 6px #333333;
    }

    .role {
      font-weight: normal;
    }
  }

  .image {
    background-position: center;
    background-size: cover;
  }

  @include breakpoint(max-width $screen-lg){
    .desktop.image {
      background-position-x: -80px;
    }

    .content {
      top: -75px;
      left: 20px;
      padding-top: 110px;
      width: 325px;
      height: 325px;
      border-radius: 163px;

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 18px;
        line-height: 26px;
      }

      p {
        display: none;
      }
    }
  }

  @include breakpoint(max-width $screen-sm){
    width: 100%;
    height: 365px;

    .image {
      //top: 120px;
      position: relative;
    }

    .attribution {
      top: 210px;
      left: 75%;
      width: 72px;
    }
    .hero-text{
      margin: auto;
    }
    .note{
      padding:20px;
    }
    .content {
      top: -520px !important;
      left: -43% !important;
      width: 186% !important;
      height: 700px !important;
      border-radius: 50% !important;
      padding-top: 500px !important;

      h1 {
        margin-top: 30px;
      }

      h2 {
        font-size: 21px !important;
        position: relative;
        top: 5px;
      }

      .btn-white {
        margin-top: 12px;
      }
    }
  }
}