.layout--isi {
  //@extend .container;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: -10px;
  //max-width: 1440px;
  padding-bottom: 45px;

  p {
    margin-bottom: 0px;
  }

  .wrapper {
    padding: 20px 0;
  }

  .doNotWrap {
    white-space: nowrap;
  }

  #isi-fixed {
    h2 {
      font-size: 27px;
      font-weight: 100;
      color: $color--blue;
      margin: 20px 0;
      text-transform: uppercase;
    }
    .hcp-h2 {
      color: $color--dk-gray;
    }
    h3 {
      font-weight: bold;
      color: $color--blue;
      text-transform: uppercase;
    }
    .drawer-wrapper {
      margin: 0 auto;
     // max-width: 940px;
    }
  }

  #isi-drawer {
    @extend #isi-fixed;
     //max-width: 1440px;
    height: 170px;
    background: $color--white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0px $ad-hoc-space-md 0px $ad-hoc-space-md;
    z-index: $z-index--500;

    .drawer-wrapper {
      margin: 0 auto;
      max-width: 940px;
    }

    .content {
      position: relative;
      top: 70px;
      margin-left:-10px;
    }

    div.isi-toggle-up {
      margin-top: -20px;
      float: right;
    }
    .isi-title-wrapper{
      height:40px;
      z-index: $z-index--500;
      background-color: $color--blue;
      display: flex;
      justify-content: center;
      background-color: $color--blue;
      position: absolute; /* This expands the div past its container*/
      left: 0; /* This makes sure it starts from the left*/
      right: 0; 
      //padding-left: 20px;
      //padding-right: 20px;
      .isi-title{
        width: 100%;
      }
      h3{
        padding-top:10px;
        color: $color--white;
        text-transform: uppercase;
      }
    }
  }

  #isi-toggle-up-button {
    padding: 0;
    outline: none;
    background: none;
    border: none;
    color: $color--white;
    img {
      width: 15px;
      margin-top: -2px;
      padding-right:5px;
    }
  }

  #isi-focus {
    @extend #isi-fixed;
    .modal {
      top: -$ad-hoc-space-md - 10;
    }
    .modal-lg {
      width: 70%;
    }
    .modal-header {
      padding: 40px;
      border: none;
      .close {
        background: none;
        border: none;
        opacity: 1;
        color: $color--blue;
      }
    }
    .modal.fade:not(.in) .modal-dialog {
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
    }
    .modal-content {
      padding: 0px 29px $ad-hoc-space-md 29px;
      border: px solid $color--dove;
      border-radius: 0px;
    }
  }

  @include breakpoint(max-width $screen-lg) {
   /* padding-left: 20px;
    padding-right: 20px;*/

    #isi-drawer {
      width: 100%;
      height: 205px;
      margin: 0;
      left: 0;
      p {
        height: auto;
      }
      .content{
        padding-left: 10px;
        padding-right: 20px;
      }
    }
   
    #isi-focus .modal-lg {
      width: 100%;
    }
  }

  @include breakpoint(max-width $screen-sm) {
    #isi-fixed {
      h1, h2 {
        font-size: 17px;
      }
    }
    .isi-title-wrapper{
      height: 60px !important;
    }
    .isi-title-wrapper h3{
      width: 200px;
    }
    div.isi-toggle-up {
      margin-top: -30px !important;
    }
    
    #isi-focus {
      .modal {
        top: 55px !important;
      }
      .modal-header {
        padding: 10px;
        .close {
          margin-top: 5px;
        }
      }
      .modal-content {
        padding: 0;
      }
    }
    #isi-drawer {
      bottom: 0%;
    }

    #isi-modal {
      top: 0;
    }

    #isi-focus .modal-lg {
      margin: 0;
    }
  }

}