.layout--main-nav {
  
  @extend .container--colored-white;
  //max-width: $screen-xl;
  margin-top:30px;
  padding-top:10px;
  margin: 0 auto;
  //text-align: center;
  border-bottom: 1px solid $color--lt-gray;
  position: relative;

  .logo {
    width: 275px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 0 0;
  }

  .info-nav{
    float:right;
    padding: 30px 0 0 0;
    margin:0;
    li{
      border-right: 1px solid $color--dk-gray;
      display: inline;
      list-style-type: none;
      padding:0px 10px 0px 10px;
      margin-left:-3px;
      a{
        color: $color--cadet-blue;
        &:hover{
          color: $color--blue;
        }
      }
      li.active, li:hover{
        a{
          color: $color--blue;
          text-decoration: none;
        }
      }
    }
    li:last-of-type {
      border-right: none;
    }
  }
  .navigation-bar{
    margin-bottom: -1px;
    height:45px;
    background-color: $color--cadet-blue;
  }
  .mobile-triggers {
    display: none;
  }

  .navigation-mobile {
    display: none;
  }

  .navigation{
    @extend .navigation--inline;
    @extend .navigation--clear-poolwater;
    @include nav-variant-size($ad-hoc-space-sm 15px, $font-size--md);
    margin : 0;
    display: flex;
    //display: inline-block;

    li {
      padding: 9px 40px;
      padding-bottom: 0;
      position: relative;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      a {
        border-bottom: 5px solid $color--clear;
        padding: 0;
        padding-bottom: $ad-hoc-space-sm;
        //width: 62px;
        white-space: normal;
        text-align: center;
        line-height: 1.5rem;
        color: $color--white;
        text-decoration: none;

        &.expand:after {
          position: absolute;
          top: 30px;
          margin-left: 5px;
        }
        &.expand-circle:after {
          position: absolute;
          top: 30px;
          margin-left: 5px;
        }
      }

      .expand {
        text-decoration: none;
        cursor: default;
        &:after {
          display:none;
          @include rotate(180);
          top: 2px;
        }
      }
      .expand-circle {
        text-decoration: none;
        cursor: default;
        &:after {
          display:none;
          @include rotate(0);
          top: 2px;
        }
      }

      &.treating {
        .sub-nav {
          left: -115px;
          right: -115px;
        }
      }

      &.subscribe {
        a {
          border: 2px solid $color--poolwater !important;
          border-radius: 25px;
          width: 100px;
          padding: 2px;
          color: $color--poolwater;
          text-decoration: none;

          &:hover {
            background-color: $color--poolwater;
            color: $color--white;
            text-decoration: none;
          }
        }
      }
      &.search, &.social {
        a {
          border-bottom: 0 !important;
        }
      }
      &.search img {
        vertical-align: bottom;
        width: 40px;
        height: 40px;
        cursor: pointer;
        & a {
          width: 0px;
        }
      }
      &.social img {
        vertical-align: bottom;
        width: 40px;
      }
      &.mobile {
        display: none;
      }
    }

    li:nth-last-child(-n+3) {
     // padding: $ad-hoc-space-sm $ad-hoc-space-sm;
    }

    .sub-nav {
      display:none;
      position: absolute;
      background-color: $color--white;
      z-index: $z-index--100;
      padding-left: 0;
      left: 0px;
      right: -75px;
      width:100%;
      border-top: 0;
      //box-shadow: 1px 5px 10px $color--dk-gray;

      li {
        width:100%;
        padding: $ad-hoc-space-sm 35px;
        border-bottom: 1px solid $color--lt-gray;
        a{
          color:$color--blue;
          text-transform: capitalize;
        }
        &:hover{
          a{
            color:$color--white;
            text-decoration: none;
          }
          a:hover{
            text-decoration: none;
          }
        }
        &.active{
            background-color: $color--blue;
        > a {
          padding-bottom: 1px;
          
          //border-bottom: 1px solid $color--poolwater !important;
        }
         }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
    li.active{
      a{
        color: $color--white;
      }
    }
    li:hover, li.active {
      background-color: $color--blue !important;
      a:hover{
        color: $color--white;
       
      }

      .sub-nav  {
        border-bottom: 0;
      }
    }

    li.hover {
      .sub-nav {
        display: block;
        & a:hover {
          padding-bottom: 1px;
          text-decoration: none;
        }
      }
    }

	a {
      font-weight: 100;
      &:active,&:visited{
        color: $color--white;
      }
    }
  }

  @include breakpoint(max-width $screen-lg) {
    height: 80px;
    .container {
      padding-left: 5px;
      padding-right: 10px;
    }
    .navigation-bar{
      background: none;
    }
    .navigation {
      background-color: $color--cadet-blue;
      z-index: $z-index--900;
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: -6px;

      li {
        display: block;
       // border-bottom: 1px solid $color--lt-gray;
        padding: 0;
        width:100%;
        a, &.active a, a:active, a:hover {
          width: 100%;
          text-align: left;
          border-bottom: 0 !important;
          color: $color--white;
          font-size: 20px !important;
          padding: $ad-hoc-space-md !important;

          &.expand {
            border-bottom: 0;

            &:after {
              display:inline-block;
              top: 20px;
              right: 15px;
              
            }

            &.inactive:after {
              @include rotate(0);
              right: 14px;
              top: 20px;
            }

            .trigger {
              position: absolute;
              right: 0;
              top: 0;
              width: 100px;
              height: 100%;
              z-index: $z-index--100;
            }
          }
          &.expand-circle {
            border-bottom: 0;

            &:after {
              display:block;
              right: 14px;
              top: $ad-hoc-space-md - 2px;
            }

            &.inactive:after {
              @include rotate(180);
              top: 25px;
              right: 15px;
            }

            .trigger {
              position: absolute;
              right: 0;
              top: 0;
              width: 100px;
              height: 100%;
              z-index: $z-index--100;
            }
          }

        }

        &.active > a {
        }

        .sub-nav {
          left: 0 !important;
          right: 0 !important;
          position: relative;
          box-shadow: none;

          li {
            border-right: 0;
            //border-bottom: 1px solid $color--dk-gray;
            background-color: $color--white;
            text-align: left;
            padding: 0;

            a {
              color: $color--blue;
              padding: $ad-hoc-space-md !important;
              padding-left: 2 * $ad-hoc-space-md !important;
              display: block;
             // @include line-height(20px);
            }

            &.active,&:hover {
             background-color: $color--blue;
              a,a:hover {
                color:$color--white;
              }
            }

            &:first-child {
              border-top: 1px solid $color--lt-gray;
            }
          }
        }

        &:first-child {
          text-transform: capitalize;
          display: block;
        }

        &.subscribe {
          text-align: left;
          border: 0 !important;
          background-color: $color--poolwater;
          padding: 0;

          a {
            color: $color--white;
            width: 100%;
          }
        }

        &.mobile {
          padding-left: $ad-hoc-space-md;
          padding-right: $ad-hoc-space-md;

          a {
            font-size: 15px !important;
          }
        }

        &.actimmune, &.facebook {
          display: inline-block;
          width: 49.5%;
        }

        &.actimmune {
          border-right: 1px solid $color--lt-gray;
          width: 52%;
          a {
            text-align: center;
            padding: 19px 5px !important;
            color: $color--poolwater !important;
            font-size: 14px !important;
            font-weight: bold;
          }
          img {
            width: 12px;
            margin: 5px; 
          }
        }

        &.facebook {
          width: 43%;
          a {
            text-align: center;
            padding: 10px 5px !important;
            color: #4060A5 !important;
            font-size: 14px !important;
            font-weight: bold;
          }
          img {
            width: 30px;
            margin: 5px; 
          }
        }

        &.isi {
          display: block;

          a {
            padding-top: $ad-hoc-space-sm !important;
            padding-bottom: $ad-hoc-space-sm !important;
            color: $color--poolwater !important;
          }
        }
      }
      &.active {
        display: block;
      }

      .search, .social {
        display: none;
      }
    }

    .logo-container {
      float: left;
      position: relative;
      left: $ad-hoc-space-sm;
    }

    .logo {
      width: 200px;
      padding: 10px 0px 0px 5px;
    }

    .mobile-triggers {
      float: right;
      display: inline-block;
      margin-bottom: 0px;
      position: relative;
      top: 7px;

      li {
        list-style: none;
        display: table-cell;
      }

      img {
        padding: 5px;
        width: 50px;
        height: 50px;
        margin-right: 5px;
      }

      .nav {
        //background-color: #008BD0;
        width: 50px;
        height: 50px;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);
        & span {
          margin: 3px;
          background-color:$color--blue;
          display: block;
          position: absolute;
          height: 5px;
          width: 30px;
          left: 8px;
          @include transform(rotate(0deg));
          @include transition(.25s ease-in-out); 
        }
        & span:nth-child(1) {
          top: 11px;
        }
        & span:nth-child(2), span:nth-child(3) {
          top: 19px;
        }
        & span:nth-child(4) {
          top: 27px;
        }
        &.open {
          //background-color: #FF901E;
          & span:nth-child(1) {
            top: 19px;
            width: 0%;
            left: 50%;
          }
          & span:nth-child(2) {
            @include transform(rotate(45deg));
          }
          & span:nth-child(3) {
            @include transform(rotate(-45deg));
          }
          & span:nth-child(4) {
            top: 19px;
            width: 0%;
            left: 50%;
          }
        }
      }

      .search {
        img {
          display: inline-block;
        }
        div {
          display: none;
        }
      }

      .search.open {
        img {
          display: none;
        }
        div {
          display: inline-block;
        }
      }


    }
  }

  @include breakpoint(max-width $screen-sm) {
    .screen {
      padding-bottom: 20000px;
      margin-bottom: -20000px;
      background-color: $color--black;
      opacity: 0.25;
      position: absolute;
      top: 50px;
      width: 100%;
      z-index: -1;
      overflow: hidden;
      display: none;

      &.active {
        z-index: 1;
        display: block;
      }
    }
  }

  @include breakpoint(max-width $screen-sm-max) {
    .navigation {
      @include nav-variant-size($ad-hoc-space-sm 9px, 9px);
    }
  }
  
  @include breakpoint(max-width $screen-xs-max) {
    .navigation {
      margin: auto;
      
      li:first-child { 
       // display: none; 
      }
      
      li:last-child {
        border-right-style : solid;
        border-right-width : $ad-hoc-border-sm;
      }
    }

  }

}