.layout--modal {
  .modal-dialog {
    top: 15%;
  }

  .modal-content {
    border-radius: 0;
    padding: 2*$ad-hoc-space-md $ad-hoc-space-md;
    text-align:center;
  }

  .modal-header, .modal-body, .modal-footer {
    border: 0;
    padding: $ad-hoc-space-sm;
  }

  .close {
    display: block;
    color: $color--blue;
    font-size:30px;
    opacity:1;
    margin-top: -20px;
    position: relative;
  }

  .btn {
    display: initial;
    padding:10px 20px 10px 20px;
    height: 35px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: $color--white;
    text-decoration: none;
    border-radius: 0px;
  }

  .btn-primary {
    background-color: $color--white;
    color: $color--blue;
    border-color: $color--blue;
    margin-right: $ad-hoc-space-sm;
    &:hover {
      background-color: $color--blue;
      color: $color--white;
      border-color: $color--blue;
    }
  }

  .modal-title {
    color: $color--blue;
    font-size: 22px;
    font-weight: bold;
  }

  .modal-body {
    color: $color--xdk-gray;
  }
  .modal-footer{
    text-align:center;
  }
  @include breakpoint(max-width ($screen-lg)){
    .btn-primary{
     width: 200px;
      display: block;
      margin: 10px auto 20px auto !important;
   }
  }
}