.layout--note {
  border: 1px solid $color--orange;
  border-width: 2px 2px 2px 23px;

  width: 225px;
  margin: 0 auto;

  padding: 10px 20px;

  p {
    margin-bottom: 0;
  }

  h2 {
    color: $color--orange;
    @include font-size(12px);
    margin-bottom: 0;
  }
  @include breakpoint(max-width ($screen-lg)){
    width: 100%;
  }
}