.layout--search-nav {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: $color--white;
  z-index: $z-index--100;

  form {
    background-color: $color--teal;
    padding: 15px 30px;
    padding-right: 50px;
    text-align: right;

    input[type="text"],
    input[type="button"],
    input[type="submit"] {
        -webkit-appearance: none !important;
        -webkit-border-radius: 0 !important;
    } 

    input {
      color: $color--teal;
      padding: 20px;
      height: 50px;
      width: 100%;
      font-size: 18px;
      &::placeholder  {
        color: $color--teal;
      }
    }

    button {
      border: 0; 
      background-color: transparent;
      position: absolute;
      top: 11px;
      right: 16px;

      img {
        width: 55px;
        height: 55px;
      }
    }
  }

  .questions-container {
    text-align: left;
    padding: 10px 30px;
    display: block;

    h2 {
      font-weight: normal;
      color: $color--slate;
      margin-bottom: -10px;
    }

    ul {
      padding: 0;

      hr {
        background-color: $color--slate;
      }

      li {
        font-family: montserrat;
        line-height: 18px;
        color: $color--poolwater;
        display: inline-flex;
        list-style: none;
        text-align: left;
        width: 100%;

        a, span {
          width: 100%;
        }

        img {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          margin-left: 10px;
          width: 54px;
          height: 54px;
          float: right;
        }
      }
    }
  }

  @include breakpoint(min-width $screen-lg + 1) {
    top: 64px;
    border: 1px solid $color--lt-gray;
    width: 300px;

    input[type=text] {
      height: 37px;
      padding: $ad-hoc-space-sm;
      font-size: 16px;
    }

    button {
      top: 4px !important;

      img {
        width: 40px !important;
      }
    }

    .questions-container {
      display: none;

      h2 {
        @include font-size(14px);
        margin: 0;
      }

      hr {
        margin: $ad-hoc-space-sm 0;
      }

      ul {
        li {
          @include font-size(10px);

          img {
            width: 40px;
          }
        }
      }
    }
  }
}