.layout--signup {
  background-image: url(/images/misc/signup2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 302px;
  width: 791px;
  margin: 0 auto;

  @extend .hoverable;

  .image {
    position: absolute;
  }

  .content {
    left: 55%;
    width: 40%;
    top: 20%;
    position: relative;

    h2 {
      @include font-size-height(20px);
      font-weight: bold;
      width: 200px;
    }

    p {
      @include line-height(16px);
    }

    a {
      font-weight: bold;
    }
  }
}