.layout--video {

  //@extend .container-xs;
  border-bottom: 1px solid $color--dk-gray;

  #{$headers} {
    color: $color--teal;
    margin-bottom: 0;
  }

  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin-bottom: $ad-hoc-space-md;
  } 

  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

  .transcript-trigger {
    padding: 15px 0px;
    color: $color--poolwater;
    font-family: $font-family--montserrat;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.expand:after {
      top: -2px;
    }

    &.expand.inactive:after {
      top: 6px;
      left: -6px;
    }
  }

  .transcript {
    display: none;

    p {
      @include font-size(8.5px);
      @include line-height(15px);
    }
  }

  @include breakpoint(max-width $screen-sm) {
    h1 {
      line-height: 2.5rem !important;
    }
    .transcript-trigger {
      font-size: 1rem;
    }
  }
}