@model main_app.Models.StayInformed

@{
    ViewBag.title = "Learn More about Chronic Granulomatous Disease (CGD)";
    ViewBag.MetaDescription = "Get ongoing information, including support services and treatment options, to help manage your chronic granulomatous disease (CGD).";
    ViewBag.OGTitle = "Turn your inbox into a help box";
    ViewBag.OGDescription = "Get helpful information sent right to your inbox. You’ll learn about the role of a treatment option for CGD, advice on talking to your doctor, and much more.";
    ViewBag.MetaUrl = "https://www.cgdconnections.com/keep-connected";
    ViewBag.MetaImg = "https://CGDConnections.com/images/social/2.0.5_Travel_social.jpg";
}

@Html.Partial("Social", new ViewDataDictionary(ViewData) {
    {"name", "Turn your inbox into a help box"},
    {"description", "Get helpful information sent right to your inbox. You’ll learn about the role of a treatment option for CGD, advice on talking to your doctor, and much more."},
    {"tweet", "Sign up to get ongoing information about a treatment option for CGD, tips for talking to your doctor, and more."},
    {"emailSubject", "Get information about a treatment option"},
    {"emailBody", "Hi there, %0D%0DI saw this great resource that keeps you connected to helpful information. You’ll receive information about a treatment option for CGD, tips for talking to your doctor, stories from people in the community, and much more.  %0D%0DSign up at CGDConnections.com to get started."}
})

<div class="page--subscribe">
    <div class="container">
    <div class="content-container">
        @Html.Partial("Content", new ViewDataDictionary(ViewData) {
            {"body", @"
                <img src='/images/misc/subscribe.png' alt='CGD and ACTIMMUNE® (Interferon gamma-1b) email updates' />
                <div class='copy-container'>
                    <p>Get helpful information about managing and living with CGD sent right to your inbox. Some of the highlights you’ll receive include:</p>
                    <ul class='green-ul'>
                        <li>How ACTIMMUNE<sup>&reg;</sup> (Interferon gamma-1b) helps lower the risk of serious infection†</li>
                        <li>Advice on how to talk to your doctor about ACTIMMUNE<sup>&reg;</sup></li>
                        <li>Tips for staying ahead of infections </li>
                    </ul>

                    <p>As you learn more about CGD, you’ll feel more confident about what’s possible every day.</p>

                    <p class='footnote'>†An infection is serious if you have to go to the hospital and get intravenous (IV) antibiotics.</p>
                </div>
                "}
            })
    </div>
    <form id="stay-informed-form" class="layout--form" asp-action="Thanks" asp-controller="StayInformed" method="post">
            <div class="heading">
                <h2>Keep connected to learn more about chronic granulomatous disease (CGD)</h2>
                <p>Complete the information below to get started.</p>
            </div>

            <div class="body">
            <div>
                <p class="footnote">* Required</p>
                <br>
                <label asp-for="FirstName">First name*</label>
                <input autocapitalize="none" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div>
                <label asp-for="LastName">Last name*</label>
                <input autocapitalize="none" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>

            <div>
                <label asp-for="Email">Email*</label>
                <input autocapitalize="none" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label asp-for="ConfirmEmail">Confirm email*</label>
                <input autocapitalize="none" asp-for="ConfirmEmail" />
                <span asp-validation-for="ConfirmEmail"></span>
            </div>

            <div>
                <p>
                    Help us personalize the information you get based on your needs. Choose an option that best describes you.
                </p>
                <p>
                    <b>Are you a patient or a caregiver?*</b>
                </p>
            </div>
            <ul class="choices">
                <span asp-validation-for="UserType"></span>
            <li>
                <label>
                    <input asp-for="UserType" type="radio" value="Patient" class="is-patient-caregiver is-patient" />
                    <span>I'm a patient</span>
                </label>
            </li>
            <li>
                <label>
                    <input asp-for="UserType" type="radio" value="Caregiver" class="is-patient-caregiver is-caregiver" />
                    <span>I'm a caregiver</span>
                </label>
            </li>
            </ul>
            <div class="patient set">
                <span asp-validation-for="PatientStatus"></span>
                <h3>Select one:*</h3>
                <ul class="choices">
                    <li>
                        <label>
                            <input asp-for="PatientStatus" type="radio" value="TakingActimmune" />
                            <span>I am taking ACTIMMUNE<sup>&reg;</sup></span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input asp-for="PatientStatus" type="radio" value="CGDWithoutActimmune" />
                            <span>I am  NOT taking ACTIMMUNE<sup>&reg;</sup> but I have CGD</span>
                        </label>
                    </li>
                </ul>
                
            </div>
            <div class="caregiver set">
                <span asp-validation-for="CaregiverStatus"></span>
                <h3>Select one:*</h3>
                <ul class="choices">
                    <li>
                        <label>
                            <input asp-for="CaregiverStatus" type="radio" value="TakingActimmune" />
                            <span>I am a caregiver of a person taking ACTIMMUNE<sup>&reg;</sup></span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input asp-for="CaregiverStatus" type="radio" value="CGDWithoutActimmune" />
                            <span>I am a caregiver of a person NOT taking ACTIMMUNE<sup>&reg;</sup></span>
                        </label>
                    </li>
                </ul>

            </div>

          <div class="more-information">
            <p>Would you like more information and helpful resources about CGD and ACTIMMUNE<sup>&reg;</sup> delivered to your home address?</p>
                <ul class="choices">
                    <li>
                        <label>
                            <input type="radio" name="DeliverToHome" value="true" /> <span>Yes</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="DeliverToHome" value="false" /> <span>No</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class='subscribe-snail-mail'>
                <div>
                    <label asp-for="AddressLine1">Address line 1*</label>
                    <input autocapitalize="none" asp-for="AddressLine1" />
                    <span asp-validation-for="AddressLine1"></span>
                </div>
                <div>
                    <label asp-for="AddressLine2">Address line 2</label>
                    <input autocapitalize="none" asp-for="AddressLine2" />
                </div>
                <div>
                    <label asp-for="City">City*</label>
                    <input autocapitalize="none" asp-for="City" />
                    <span asp-validation-for="City"></span>
                </div>
                <div>
                    <label asp-for="State">State*</label>
                    <select asp-for="State" asp-items="Model.States"></select>
                     <span asp-validation-for="State"></span>
                </div>
                <div>
                    <label asp-for="Zip">ZIP*</label>
                    <input autocapitalize="none" asp-for="Zip" />
                    <span asp-validation-for="Zip"></span>
                </div>
            </div>

            <div>
                <b>Privacy Notice and Consent</b> I understand I am giving Horizon, its affiliates, and business partners permission to use the personal information provided in this registration form, as described in this authorization. I understand that the information I am providing may be used by Horizon Pharma to provide me with health and product information and related services concerning health conditions and treatments. By submitting this form, I consent to these uses and am confirming that I have read and agree to the Horizon Pharma <a href="http://www.horizonpharma.com/terms-of-uselegal-notice" target='_blank' data-link='internal'>Terms & Conditions</a> and <a href="http://www.horizonpharma.com/privacy-policy" target='_blank' data-link='internal'>Privacy Policy</a>. I understand that Horizon and its contracted third parties will NOT sell or rent personal information, and that the information provided in this form will be used in accordance with the Horizon Pharma <a href="http://www.horizonpharma.com/privacy-policy" target='_blank' data-link='internal'>Privacy Policy</a>. I agree that this authorization will expire ten (10) years from the date submitted, or until my participation in the program ends through my cancellation.  I acknowledge that I am submitting this form voluntarily, and that I am at least 18 years of age.
            </div>

            <ul class="choices">
                <li>
                <label asp-for="Terms">
                    <input asp-for="Terms" />
                    <span><b>I accept*</b></span>
                </label>
                <span asp-validation-for="Terms" class="text-danger"></span>
                </li>
            </ul>

            <button class="btn btn-white bordered has-alt" type="submit">Submit</button>
            </div>
    </form>
    </div>
</div>

@section Scripts {
<script>
    var subscribe = {
        initialize: function() {
            this.hideSets();
            $('.is-patient-caregiver').click($.proxy(this.togglePatientCaregiver,this));
        },
        togglePatientCaregiver: function(e) {
            var target = $(e.target);

            if (target.hasClass('is-patient')) {
                this.showSet('patient');
               // $('.is-caregiver').prop('checked', false);
            } else {
                this.showSet('caregiver');
               // $('.is-patient').prop('checked', false);
            }
        },
        hideSets: function() {
            $('.set.patient, .set.caregiver').hide();
        },
        showSet: function(name) {
            this.hideSets();
            $('.set.'+name).show();
        }
    }
    $(document).ready(function() {
        subscribe.initialize();
        if ($('.is-patient').prop('checked')) {
            subscribe.togglePatientCaregiver({ target: $('.is-patient') });
        }

        if ($('.is-caregiver').prop('checked')) {
            subscribe.togglePatientCaregiver({ target: $('.is-caregiver') });
        }
    });
</script>
}