@{
    ViewBag.title = "Thank You | Learn More about Chronic Granulomatous Disease (CGD)";
    ViewBag.MetaDescription = "Get ongoing information, including support services and treatment options, to help manage your chronic granulomatous disease (CGD).";
    ViewBag.OGTitle = "Turn your inbox into a help box";
    ViewBag.OGDescription = "Get helpful information sent right to your inbox. You’ll learn about the role of a treatment option for CGD, advice on talking to your doctor, and much more.";
    ViewBag.MetaUrl = "https://www.cgdconnections.com/keep-connected";
    ViewBag.MetaImg = "https://CGDConnections.com/images/social/2.0.5_Travel_social.jpg";
}

@Html.Partial("Social", new ViewDataDictionary(ViewData) {
    {"name", "Turn your inbox into a help box"},
    {"description", "Get helpful information sent right to your inbox. You’ll learn about the role of a treatment option for CGD, advice on talking to your doctor, and much more."},
    {"tweet", "Sign up to get ongoing information about a treatment option for CGD, tips for talking to your doctor, and more."},
    {"emailSubject", "Get information about a treatment option"},
    {"emailBody", "Hi there, %0D%0DI saw this great resource that keeps you connected to helpful information. You’ll receive information about a treatment option for CGD, tips for talking to your doctor, stories from people in the community, and much more.  %0D%0DSign up at CGDConnections.com to get started."}
})

@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "Thanks!"},
    {"body", 
    @"
    <p>You’re now part of the growing CGD community that is staying connected. Be on the lookout for helpful information about CGD and how ACTIMMUNE<sup>&reg;</sup> (Interferon gamma-1b) can help treat chronic granulomatous disease (CGD).</p>
    "}
})

@Html.Partial("cta-set", new ViewDataDictionary(ViewData){
    {"types", new string[] {"cta1","cta2"}}
})