.debug--layouts{
  
  .layout{
	border   : 1px solid red;
	margin   : 25px 10px;
	padding  : 2px;
	position : relative;
	
	&:before{
	  content          : attr(class);
	  display          : inline-block;
	  position         : absolute;
	  background-color : #FDFFC5;
	  color            : #C3AB84;
	  border           : 1px solid #C3AB84;
	  padding          : 5px;
	  line-height      : 10px;
	  font-size        : 10px;
	  font-family      : "Courier New", monospace;
	  left             : 0;
	  top              : -22px;
	  height           : 20px;
	}
  }
}