/* https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.s13azcvkn */
@mixin for-phone-only {
  @media (max-width: #{$screen-sm - 1}) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: #{$screen-sm}) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: #{$screen-sm}) and (max-width: #{$screen-md - 1}) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: #{$screen-md}) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: #{$screen-md}) and (max-width: #{$screen-lg - 1}) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: #{$screen-lg}) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: #{$screen-lg}) and (max-width: #{$screen-xl - 1}) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: #{$screen-xl}) { @content; }
}

@mixin for-size($size) {
  @if      $size == phone-only            { @include for-phone-only() }
  @else if $size == tablet-portrait-up    { @include for-tablet-portrait-up() }
  @else if $size == tablet-portait-only   { @include for-tablet-portait-only() }
  @else if $size == tablet-landscape-up   { @include for-tablet-landscape-up() }
  @else if $size == tablet-landscape-only { @include for-tablet-landscape-only() }
  @else if $size == desktop-up            { @include for-desktop-up() }
  @else if $size == desktop-only          { @include for-desktop-only() }
  @else if $size == big-desktop-up        { @include for-big-desktop-up() }
}