// DIMENSIONS

/* POSITION (TOP, RIGHT, BOTTOM, LEFT)
----------------------------------------------------------------------------------------*/
@mixin position( $position:null, $top:null, $right:null, $bottom:null, $left:null ) {
  @if ($position!= null){ position : $position; }
  @if ($top     != null){ top : $top; }
  @if ($right   != null){ right : $right; }
  @if ($bottom  != null){ bottom : $bottom; }
  @if ($left    != null){ left : $left; }
}

/* PADDING AND MARGIN
----------------------------------------------------------------------------------------*/
@mixin display( $disp, $padding:null, $margin:null ) {
  display : $disp;
  @if ($padding != null){ padding : $padding; }
  @if ($margin  != null){ margin : $margin; }
}

/* BOX ATTRIBUTES
----------------------------------------------------------------------------------------*/
@mixin rounded( $radius:0.5em ) {
  @include border-radius($radius, $radius);
}

@mixin blockify( $textAlign:center ) {
  display    : block;
  width      : 100%;
  text-align : $textAlign;
}

@mixin inline-blockify() {
  display : inline-block;
}

@mixin clearfix() {
  &:before,
  &:after{
	content : " ";    // 1
	display : table;  // 2
  }
  &:after{
	clear : both;
  }
}