@{
    ViewBag.title = "Medication for Parkinson’s Tremors | Extrapyramidal Reaction Medication | OSMOLEX ER";
    ViewBag.MetaDescription = "Information on OSMOLEX ER, a prescription medicine for adults to be used as pharmacological treatment of Parkinson’s disease or for drug-induced eps treatment.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="page--about">
    <div class="layout--content-structure">
        <div class="primary">
            <h1 class="padding-top-md--show-at-md padding-top-md--show-below-md">Osmodex<sup>&reg;</sup> Drug Delivery System</h1>
            <h6><strong>OSMOLEX ER contains amantadine in an immediate-release outer layer and an extended-release core that is delivered using the Osmodex<sup>&reg;</sup> Drug Delivery System.<sup>1*</sup></strong></h6>
            </div>
        </div>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    <div class="layout--content-structure">
        <div class="primary">
           @Html.Partial("Video", new ViewDataDictionary(ViewData){
                        {"video-url", "https://player.vimeo.com/external/293179130.sd.mp4?s=cbb0ad9a7d5b951f15de1325d9735ed700588d64&profile_id=165"},
                        {"poster","vid-thumb.jpg"},
                        {"alt","OSMOLEX ER | extended release tablets for Parkinson’s disease and extrapyramidal reactions"}
                    })
        </div>
        <div class="secondary padding-top-md--show-below-lg">
            @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
                {"types", new string[] {"cta2"}}
            })
        </div>
    </div>
    
    <div class="layout--content-structure">
        <div class="primary">
            @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
                {"src", "/images/misc/pill-illustration.png"},
                {"alt","tablets for Parkinson’s disease | extrapyramidal disease drugs | OSMOLEX ER"}
            })
        </div>
        <div class="secondary padding-top-md--show-below-lg">
            @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
                {"types", new string[] {"cta1"}}
            })
        </div>
    </div>

    <!--div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div-->
    <div class="layout--content-structure">
        <div class="primary">
            <p>*The biologically inert components of the tablet remain intact during gastrointestinal transit and are eliminated in the stool as a tablet shell.</p>
        </div>
    </div>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    <div class="layout--content-structure" id="keyfeatures">
            <h1>Key Features of OSMOLEX ER</h1>
    </div>
        
        <div class="layout--content-structure">
        <div class="primary">
            <ul>
                <li>OSMOLEX ER has a unique pharmacokinetic profile that delivers amantadine throughout the day<sup>2</sup></li>
                <li>Amantadine plasma levels are higher during waking hours and lower during the night<sup>2</sup></li>
                <li> OSMOLEX ER is taken once daily, in the morning<sup>1</sup></li>
            </ul>    
            <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
            <h2>Comparison of OSMOLEX ER to Immediate-Release Amantadine<sup>1,2</sup></h2>
            @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
                {"src", "/images/misc/chart2.svg"},
                {"class","padding-all-sides"},
                {"alt","Comparison of OSMOLEX ER to immediate release Amantadine"}
            })
        </div>
        <div class="secondary padding-top-md--show-below-lg">
            @Html.Partial("note", new ViewDataDictionary(ViewData){
                {"text", "<p>A single-center, laboratory-blinded, randomized, 2-treatment, 2-period, 2-sequence, multiple oral dose crossover study was conducted in 24 healthy volunteers to compare 258-mg OSMOLEX ER tablets to 258-mg amantadine oral syrup. </p><p class='padding-top-sm--show-at-md padding-top-sm--show-below-md'>The efficacy of OSMOLEX ER has been established based on bioavailability studies that compared OSMOLEX ER to immediate-release amantadine.<sup>2</sup></p><p class='padding-top-sm--show-at-md padding-top-sm--show-below-md'> The pharmacokinetics of OSMOLEX ER across 3 different dosage strengths were shown to be dose proportional.<sup>2</sup></p>"}
            })
        </div>
    </div>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
</div>
