@{
    ViewBag.title = "Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER";
    ViewBag.MetaDescription = "Learn more on affordable out-of-pocket treatment costs and support services OSMOLEX ER offers to patients with Parkinson’s disease or extrapyramidal reactions.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="layout--content-structure">
    <div class="primary">
        <h1 class="padding-top-md--show-at-md padding-top-md--show-below-md">Affordability</h1>
        <h6><strong>OSMOLEX ER Offers Affordable Out-of-Pocket Costs for Your Patients<sup>*</sup></strong></h6>
    </div>
</div>

<div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>

<div class="layout--content-structure">
    <div class="primary">
        @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
            {"src", "/images/misc/chart1.svg"},
            {"class","padding-all-sides"},
            {"alt","Average Monthly Out-Of-Pocket Costs for All Medications | OSMOLEX ER "}
        })
    </div>

    <div class="secondary">
        @Html.Partial("note", new ViewDataDictionary(ViewData){
            {"text", "<p><strong>Speciality or Non-Preferred/Tier 4</strong></p><ul><li>Medicare requires patients to pay 25% to 33% coinsurance for Specialty Tier products. Non-Preferred products require a coinsurance of 24% to 50%<sup>1</sup></li></ul></p>"}
        })
        
        <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>

        @Html.Partial("note", new ViewDataDictionary(ViewData){
            {"text", "<p><strong>Preferred/Tier 2 or 3</strong></p><ul><li>OSMOLEX ER expected coverage<sup>†</sup></li></ul></p>"}
        })
    </div>
</div>

<div class="padding-top-sm--show-at-md padding-top-sm--show-below-md"></div>

<div class="layout--content-structure">
    <div class="primary">
       <p><sup>*</sup>The Medicare threshold for drugs to qualify for placement on a specialty tier is $670 for a 1-month supply of the drug. Tier placement is ultimately based on the contract with individual insurance plans. Products with a list price (Wholesale Acquisition Cost [WAC]) over $670 are not necessarily placed on Specialty Tier for all plans. The average co-payments for commercial patients are among covered workers in plans with 3 or more tiers of cost sharing for prescription drugs.</p>
       <p><sup>†</sup>The expected tier placement of OSMOLEX ER is based on the WAC and contract negotiations with insurance plans.</p>
    </div>
    <!--div class="secondary">
        @Html.Partial("note", new ViewDataDictionary(ViewData){
            {"text", "<p>OSMOLEX ER<sup>&trade;</sup> (amantadine) is indicated for the treatment of Parkinson's disease and for the treatment of drug-induced extrapyramidal reactions in adult patients.</p>"}
        })
    </div-->
</div>

<div class="layout--content-structure" id="accessosmolex">
    <img src="/images/misc/cta/cta1.svg" width="200" alt="Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER "/>
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    <h1>AccessOsmolex is designed to provide support services to patients who have been prescribed OSMOLEX ER. </h1>
    <p>OSMOLEX ER is not available in retail pharmacies. Each patient must be enrolled through AccessOsmolex. The Enrollment and Prescription Form is available for download below.</p>
    <a class="btn btn-primary action-hcp" href="/images/pdf/AccessOsmolexEnrollmentForm.pdf" target="_blank"">DOWNLOAD ENROLLMENT FORM AND PRESCRIPTION</a>
    <p class="padding-top-md--show-at-md padding-top-md--show-below-md">If you have any questions, contact the AccessOsmolex Support Center at <a href="tel:1-833-676-6539" target='_blank'><strong>1-833-OSMOLEX (1-833-676-6539)</strong>.</a></p>
</div>