@{
    ViewBag.title = "Medical Management of Parkinson’s Disease | Extrapyramidal Treatment Guidelines | OSMOLEX ER";
    ViewBag.MetaDescription = "OSMOLEX ER is an extended release tablet used for management of extrapyramidal symptoms and as a Parkinson’s disease treatment. Get dosing information here.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="layout--content-structure">
    
        <h1 class="padding-top-md--show-at-md padding-top-md--show-below-md">Multiple Dosing Options<sup>1</sup></h1>
       
        <h6><strong>OSMOLEX ER is taken once daily in the morning and is available in multiple dosing options.<sup>1</sup></strong></h6>
        <p class="padding-top-md--show-at-md padding-top-md--show-below-md"><strong>The recommended initial dose of OSMOLEX ER is 129 mg taken orally once-a-day in the morning. The dosage may be increased in weekly intervals to a maximum daily dose of 322 mg (administered as a 129-mg and a 193-mg tablet).</strong><sup>1</sup></p>
        <img src= "/images/misc/chart-amantadine.svg" alt="tablets for Parkinson’s disease | extrapyramidal disease drugs | OSMOLEX ER" />

        <p class="padding-top-md--show-at-md padding-top-md--show-below-md">NOTE: The USP Salt Policy (May 2013) requires the name and strength of the active ingredient in a drug product be expressed in terms of the active moiety rather than the salt strength equivalent.<sup>2</sup></p>
</div>
<div class="layout--content-structure">
    <div class="primary">
        @Html.Partial("ExpandableImage", new ViewDataDictionary(ViewData){
                            {"src", "/images/misc/tablet-quad.png"},
                            {"alt","tablets for Parkinson’s disease | extrapyramidal disease drugs | OSMOLEX ER"},
                            {"note","Not actual tablet size."}
                        })

                        <p class="padding-top-lg--show-at-md padding-top-md--show-below-md">Not actual tablet size.</p>
    </div>
     <div class="secondary">
        @Html.Partial("cta-set", new ViewDataDictionary(ViewData){
            {"types", new string[] {"cta1"}}
        })
        
    </div>
</div>
<div class="layout--content-structure">
   <ul>
       <li>OSMOLEX ER is not interchangeable with other amantadine immediate- or extended-release products<sup>1</sup></li>
       <li>There are no modifications for the recommended initial and maximum dosage in patients with renal impairment; however, modifications are recommended for the titration interval and frequency of dosing in patients with moderate and severe renal impairment<sup>1</sup></li>
       <li>OSMOLEX ER can be taken with or without food<sup>1</sup></li>
       <li>OSMOLEX ER should be swallowed whole. Do not crush, chew, or divide the tablet<sup>1</sup></li>
   </ul>
</div>