@{
    ViewBag.title = "Parkinson’s Disease Treatment | Extrapyramidal Effects Treatment | OSMOLEX ER";
    ViewBag.MetaDescription = "OSMOLEX ER™ extended-release tablets is indicated for Parkinson’s disease treatment and for drug-induced extrapyramidal effects treatment in adults.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}

<div class="page--index">
    @section BeforePage {
        @Html.Partial("Hero", new ViewDataDictionary(ViewData){
    {"body", ""},
    {"image", "hero-hcp.jpg"},
    {"alt", "medications used to treat Parkinson’s disease | extrapyramidal effects treatment | OSMOLEX ER "},
    {"image-height", "397px"},
    {"mobile-image","hero-hcp-mb.jpg"},
    {"mobile-image-height", "440px"},
    {"textImage", "hero-text.svg"},
    {"textImageAlt","Support Services for Extrapyramidal Drugs & Parkinson’s Disease Treatment | OSMOLEX ER"},
    {"note", "OSMOLEX ER (amantadine) is a simple, once-daily, affordable therapy that delivers amantadine throughout the day.<sup>1,2</sup>"}
})
    }
    <div class="padding-top-md--show-at-md padding-top-md--show-below-md"></div>
    @Html.Partial("Content", new ViewDataDictionary(ViewData){
    {"heading", "INDICATION"},
    {"body", "<p>OSMOLEX ER<sup>&trade;</sup> (amantadine) extended-release tablets is indicated for the treatment of Parkinson's disease and for the treatment of drug-induced extrapyramidal reactions in adult patients.</p>"}
    })

    <hr class="content-isi-divider">
    <!--@Html.Partial("SignupCTA")-->

</div>