@{
    ViewBag.title = "Healthcare Resources for Parkinson’s Disease Treatment or Extrapyramidal Symptoms Treatment | OSMOLEX ER";
    ViewBag.MetaDescription = "Resources to help healthcare professionals as they discuss Osmolex ER with adult Parkinson’s disease or extrapyramidal reaction patients and their families.";
    ViewBag.OGTitle = "";
    ViewBag.OGDescription = "";
    ViewBag.MetaUrl = "";
    ViewBag.MetaImg = "";
}
<div class="page--resources">
<div class="layout--content-structure">
        <div  class="layout--alt-hero resources">
            <img src="/images/hero/hero-patient-resources.jpg" class="visible-lg" alt="Healthcare Resources for Parkinson’s Disease Treatment or Extrapyramidal Symptoms Treatment | OSMOLEX ER"/>
        </div>
        <h1>Resources</h1>
        <h6>The Patient Brochure, AccessOsmolex Enrollment Form and Prescription, and Dosing Card below have been developed to assist you and your patients. Download each and use them as you discuss OSMOLEX ER with your patients and their families.</h6>
        @Html.Partial("resource", new ViewDataDictionary(ViewData){
            {"img-src", "/images/misc/thumbnails/resource-thumb-1.png"},
            {"alt","what can help Parkinson’s disease | extrapyramidal disease information | OSMOLEX ER Patient Brochure"},
            {"heading", "Patient Brochure"},
            {"description", "This Patient Brochure will help explain what OSMOLEX ER is and how it works to your patients. It also details Important Safety Information and provides disease state information."},
            {"action", "Download PDF"},
            {"url", "/images/pdf/Osmolex-Patient-Brochure.pdf"}
        })
        @Html.Partial("resource", new ViewDataDictionary(ViewData){
            {"img-src", "/images/misc/thumbnails/resource-thumb-2.svg"},
            {"alt","what can help Parkinson’s disease | extrapyramidal disease treatment | AccessOSMOLEX Enrollment Form"},
            {"heading", "AccessOsmolex"},
            {"description", "OSMOLEX ER is not available in retail pharmacies. Each patient must be enrolled through AccessOsmolex. The Enrollment and Prescription Form is available for download below."},
            {"action", "Download PDF"},
            {"url", "/images/pdf/AccessOsmolexEnrollmentForm.pdf"}
        })
        @Html.Partial("resource", new ViewDataDictionary(ViewData){
            {"img-src", "/images/misc/thumbnails/resource-thumb-3.png"},
            {"alt","what can help Parkinson’s disease | extrapyramidal symptoms treatment | OSMOLEX ER Dosing Card"},
            {"heading", "Dosing Card"},
            {"description", "Download the Dosing Card to see the multiple dosing options of OSMOLEX ER."},
            {"action", "Download PDF"},
            {"url", "/images/pdf/Dosing-Card.pdf"}
        })
</div>
</div>