@using main_app.Models
@using System.Net

@{
    ViewData["Title"] = "Search";
}
<div class="page--search">
@Html.Partial("Content", new ViewDataDictionary(ViewData) {
    {"heading", "Search Results for: " + @ViewBag.query},
    {"heading-type", "h1"}
})

<div class="search-result layout--content">
@if (ViewBag.results.Hits.Count > 0) {
foreach (Nest.Hit<SearchResult> hit in ViewBag.results.Hits)
{
        <h2><a href="@Url.Action(hit.Source.View, hit.Source.Controller)">@Html.Raw(hit.Source.Title)</a></h2>

        <p>
        @foreach (KeyValuePair<string, Nest.HighlightHit> kvp in hit.Highlights)
        {
            @foreach (string s in kvp.Value.Highlights)
            {
                string snippet = WebUtility.HtmlDecode(s) + "...";
                if (new char[] { '!', '@', '%', '^', '&', ')', ']', '}', '.', ',', '?', ';', ':' }.Contains(snippet[0])) {
                    snippet = snippet.Substring(1, snippet.Length - 1);
                }

                @Html.Raw(snippet)
            }
        }
        </p>
}
} else {
    <h2 class="no-results">Your search returned no results</h2>
}
</div>
</div>