/// Generic container mixin
///
/// @group container
@mixin container-generic() {
  position : relative;
  margin: 0 auto;
  margin-bottom: 15px;

  #{$headers} {
    margin-top: 0;
  }

  /*@include breakpoint( $screen-xs $screen-xs-max ){
    width : $container-xs;
  }*/
}

/// Variant Container Mixin
///
/// @group container
/// @param {size | sizes} $padding - The padding dimension(s) of the container
/// @param {size | sizes} $margin - The margin dimension(s) of the container
/// @output A block display with margin and padding
@mixin container-variant(
  $padding: map_get($container--defaults, 'padding'),
  $margin:  map_get($container--defaults, 'margin') ) {
  @include display(block, $padding, $margin);
}

/// Rounded Container Mixin
///
/// @group container
/// @param {size} $radius - The radius of the rounded border for the container
@mixin container-rounded( $radius:map_get($container--defaults, 'border-radius') ) {
  @include rounded($radius);
}

/// Shadowed Container Mixin
///
/// @group container
/// @param {size} $shadow - The CSS shadow definition for the container
@mixin container-shadowed( $shadow: map_get($container--defaults, 'shadow') ) {
  @include box-shadow($shadow);
}

/// Bordered Container Mixin
///
/// @group container
/// @param {size} $border - The CSS border definition of the container
@mixin container-bordered( $border: map_get($container--defaults, 'border') ) {
  border : $border;
}

/// Colored Container Mixin
///
/// @group container
/// @param {color} $background - The background color of the container
/// @param {color} $color - The color of text blocks within the container
/// @param {color} $headerColor - The color of a header within the container
/// @param {color} $headerAccentColor - The color of a header's ruled accent within the container
/// @see {mixin} header-ruled-fancy
@mixin container-colored(
  $background:        map_get($container--defaults, 'bgcolor'),
  $color:             $default-color--text,
  $headerColor:       $default-color--header,
  $borderColor:       $default-color--border
) {
  color        : $color;
  background   : $background;
  border-color : $borderColor;

  #{$headers}, [class~="header--h"]{
	color        : $headerColor;
  }
}

/// Container display variant
///
/// @group container
/// @param {color} $background [null] - Background color of the container
/// @param {css border definition} $border [null] - Border definition of the container
/// @param {size | sizes} $radius [null] - Rounded corner size of the container
/// @param {css shadow definition} $shadow [null] - Box shadow of the container
/// @output
@mixin container-display-variant( $background:null, $border:null, $radius:null, $shadow:null ) {

  @if ($background){ @include container-colored($background) }
  @if ($border){ @include container-bordered($border) }
  @if ($radius){ @include container-rounded($radius) }
  @if ($shadow){ @include container-shadowed($shadow) }

  @content;
}

/// A full size container definition for fixed, absolute, and relative positioned containers
///
/// @group container
/// @param {position type} $positionType [fixed] - The css position label for this containers orientation
/// @output Extends positional class and makes top, bottom, left, right set to 0
@mixin container-full-size( $positionType:fixed ) {

  @if $positionType == fixed{ @extend .position--fixed; } @else if $positionType == absolute{ @extend .position--absolute; } @else{ @extend .position--relative; }
  @include position($positionType, 0, 0, 0, 0);
}